/* 
 * Colors:
 * 
 *		#2991d6		-	theme color
 * 		#2991d6		-	link
 * 		#2275ac		-	link hover, strong
 */
	
/************************ Colors ************************/

/* Selections */
	*::-moz-selection {
		color: #fff;
	}
	*::selection {
		color: #fff;	
	}
	
/* Borders */
	.idea_box, .ui-tabs, .accordion .question, .accordion .question.active .title, .accordion .question .title:before, .ui-tabs .ui-tabs-nav, .ui-tabs .ui-tabs-nav li, 
	.tabs_vertical.ui-tabs .ui-tabs-panel, table th, table td, .list_item .circle,
	input[type="date"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"], 
	input[type="text"],	
	input[type="url"],	
	select,
	textarea,
	.promo_box.has_border:after, dl > dt, dl > dd, .article_box .desc_wrapper p, a.icon_bar, a.content_link, .how_it_works .image, .opening_hours, .opening_hours .opening_hours_wrapper li,
	.icon_box.has_border:after, .chart_box:before, .pricing-box, .team_list .bq_wrapper, .post-footer .post-links, .format-link .post-title .icon-link,
	.share_wrapper, .post-header .title_wrapper, .section-post-related .section-related-adjustment, #comments > :first-child, .widget-area, .widget:after,
	.fixed-nav .desc h6, .portfolio_group.list .portfolio-item, .portfolio_group .portfolio-item .desc .details-wrapper, .Recent_posts ul li .desc h6,
	.widget_recent_entries ul li a, .woocommerce .widget_best_sellers li, .woocommerce .widget_featured_products li, .woocommerce .widget_recent_reviews li, 
	.woocommerce .widget_recent_products li, .woocommerce .widget_recently_viewed_products li, .woocommerce .widget_random_products li, .woocommerce .widget_top_rated_products li,
	.woocommerce .widget_onsale li, .woocommerce .widget_layered_nav li, .woocommerce .widget_shopping_cart ul.product_list_widget li,
	.woocommerce .widget_products li, .woocommerce .product .related.products, .woocommerce .product .upsells.products, .woocommerce .product div.entry-summary h1.product_title:after,
	.woocommerce .quantity input.qty, .header-stack #Top_bar .logo, .offer_thumb .slider_pagination, .offer_thumb .slider_pagination a, .Latest_news ul li .desc_footer,
	.Latest_news ul li .photo, .offer_thumb.bottom .slider_pagination a, .style-simple .faq .question, .style-simple #Filters .filters_wrapper ul,
	#edd_checkout_cart th, #edd_checkout_cart td {
		border-color: rgba(0,0,0,.08);
	}	
	
/* Tooltip */
	.tooltip-img .tooltip-content, .tooltip:after{
		background: #444444;
		color: #ffffff;
	}		
	
/* Highlight */
	.dropcap, .highlight:not(.highlight_image) {
		color: #ffffff;
	}	
	
/* Inputs */
	input[type="date"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="search"],
	input[type="tel"], 
	input[type="text"], 
	input[type="url"], 
	select,
	textarea, 
	.woocommerce .quantity input.qty {
		background-color: #fff;
		color: #626262;
		-webkit-box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.02);
		box-shadow:inset 0 0 2px 2px rgba(0,0,0,0.02);
	}
	
	input[type="date"]:focus,
	input[type="email"]:focus,
	input[type="number"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,	
	input[type="tel"]:focus,
	input[type="text"]:focus,
	input[type="url"]:focus,
	select:focus,
	textarea:focus {
		background-color: transparent !important; /*#E9F5FC !important;*/
		border-color: #d5e5ee;
		color: #1982C2;
	}	
	
/* Dividers */
	hr {
		background-color: rgba(0, 0, 0, .08);
		color: rgba(0, 0, 0, .08);
	}	
	
/* Date */
	.date_label,.timeline_items li h3 span {
		background-color: #f8f8f8;
		color: #a8a8a8;
	}
	.date_label:after,
	.timeline_items li h3 span:after {
		border-left-color: #f8f8f8;
	}	
	
/************************ Header ************************/	

	#Top_bar .menu > li > a span { 
		border-color: rgba(0,0,0,.05);
	}
	#Top_bar .search_wrapper input[type="text"] { 
		border-color: #fff; color: #fff; 
	}	
	
/************************ Footer ************************/

	/* Borders */
	#Footer .Recent_posts ul li .desc h6, #Footer .widget_recent_entries ul li a, #Footer .widget_best_sellers li, #Footer .widget_featured_products li, 
	#Footer .widget_recent_reviews li, #Footer .widget_recent_products li, #Footer .widget_recently_viewed_products li, #Footer .widget_random_products li, 
	#Footer .widget_top_rated_products li, #Footer .widget_onsale li, #Footer .widget_layered_nav li, #Footer .widget_shopping_cart ul.product_list_widget li,
	#Footer .widget_products li, #Footer .widget_archive ul li:after, #Footer .widget_nav_menu ul li:after, #Footer table th, #Footer table td {
		border-color: rgba(255,255,255,.08);
	}	
	
	/* Borders */
	#Sliding-top .Recent_posts ul li .desc h6, #Sliding-top .widget_recent_entries ul li a, #Sliding-top .widget_best_sellers li, #Sliding-top .widget_featured_products li, 
	#Sliding-top .widget_recent_reviews li, #Sliding-top .widget_recent_products li, #Sliding-top .widget_recently_viewed_products li, #Sliding-top .widget_random_products li, 
	#Sliding-top .widget_top_rated_products li, #Sliding-top .widget_onsale li, #Sliding-top .widget_layered_nav li, #Sliding-top .widget_shopping_cart ul.product_list_widget li,
	#Sliding-top .widget_products li, #Sliding-top .widget_archive ul li:after, #Sliding-top .widget_nav_menu ul li:after, #Sliding-top table th, #Sliding-top table td {
		border-color: rgba(255,255,255,.08);
	}	
	
/* Image frames & Google maps & Icon bar */
	.image_frame,
	.wp-caption,
	.google-map,
	.icon_box .icon_wrapper,
	.content_slider .caroufredsel_wrapper,
	.author-box .avatar-wrapper,
	#comments .commentlist > li .photo,
	.edd_download_image {
		border-color: #f8f8f8;
	}
	.wp-caption-text { 
		background: #f8f8f8; 
		color: #A6A6A6;
	}
	.image_frame .image_wrapper,
	.wp-caption img,
	.icon_box .icon_wrapper:before { 
		border-color: #e2e2e2; 
	}
	
	.image_frame .image_wrapper .mask,
	.edd_download_image:after { 
		-webkit-box-shadow:inset 0 0 5px 2px rgba(0,0,0,.07);
		box-shadow:inset 0 0 5px 2px rgba(0,0,0,.07); 
	}
	.image_frame .image_wrapper .mask:after { 
		background: rgba(255,255,255,.4);
	}
	/* Image frame overlay */
	.if-overlay .image_frame .image_wrapper .mask { 
		-webkit-box-shadow:inset 0 0 0 0 rgba(0,0,0,.0);
		box-shadow:inset 0 0 0 0 rgba(0,0,0,.0); 
	}
	.if-overlay .image_frame .image_wrapper .mask:after { 
		background: rgba(0,0,0,.15);
	}
	
/* Sliding box */
	.sliding_box .desc_wrapper h4 {
		color: #fff;
	}	
	
/* Counter & Chart */
	.counter .desc_wrapper .number-wrapper,
	.chart_box .chart .num,
	.chart_box .chart .icon,
	.style-simple .quick_fact .number-wrapper,
	#edd_checkout_cart .edd_cart_header_row th {
		color: #444;
	}	
	
/* Icon bar */
	a.icon_bar {
		color: #444 !important;
	}
	
/* Get in touch & Infobox */
	.get_in_touch, .get_in_touch a, .get_in_touch h3, .get_in_touch ul,
	.infobox, .infobox a, .infobox h3, .infobox ul {
		color: #fff !important;
	}
	
/* How it works */
	.how_it_works .image .number { 
		color: #fff;
	}	
	
/* Trailer box */
	.trailer_box .desc h2 {
		color: #fff;
	}
	.trailer_box .desc .subtitle {
		color: #fff;
	}
	
/* Icon box */
	.icon_box:hover .icon_wrapper,
	.icon_box a:hover .icon_wrapper { 
		color: #fff;
	}

/* List */
	.list_item.lists_1 .list_left {
		color: #fff;
	}

/* Features list */
	.feature_list ul li:hover,
	.feature_list ul li:hover a {
		color: #fff;
	}
	.feature_list ul li:hover .icon i,
	.feature_list ul li:hover a .icon i {
		color: #fff;
	}	
	
/* Tabs, Accordion, Toggle, Table, Faq */
	.ui-tabs .ui-tabs-nav li a,
	.accordion .question .title,
	.faq .question .title,
	table th {
		color: #444;
	}
	.ui-tabs .ui-tabs-nav li.ui-state-active a:after,
	table tr:hover td,
	table:not(.shop_table) tr:hover td a {
		color: #fff;
	}	
	.accordion .question .answer,
	.ui-tabs .ui-tabs-panel, 
	.ui-tabs .ui-tabs-nav li.ui-state-active a, 
	.ui-tabs .ui-tabs-nav li.ui-tabs-selected:after,
	.ui-tabs .ui-tabs-nav li.ui-state-active:after,
	.tabs_vertical.ui-tabs .ui-tabs-nav li.ui-state-active a {
		background-color: #fff;
	}		
	
/* Pricing */
	.pricing-box-box.pricing-box-featured,
	.pricing-box-box.pricing-box-featured .plan-header h2,
	.pricing-box-box.pricing-box-featured .plan-header .price sup.currency,
	.pricing-box-box.pricing-box-featured .plan-header .price > span,
	.pricing-box-box.pricing-box-featured .plan-header .price sup.period,
	.pricing-box-box.pricing-box-featured .plan-header p.subtitle {
		color: #fff;
	}
	.pricing-box-box.pricing-box-featured .plan-header hr {
		border-color: rgba(0,0,0,.2);
		background: rgba(0,0,0,.2);
	}
	.pricing-box-box.pricing-box-featured a.button {
		background-color: #fff;
		color: #444;
	}
	

/********************** Mobile menu **********************/

@media only screen and (max-width: 959px) {		
	#Header #menu > ul > li.current-menu-item > a,
	#Header #menu > ul > li.current_page_item > a,
	#Header #menu > ul > li.current-menu-ancestor > a,
	#Header #menu > ul > li.current_page_ancestor > a {
		background: rgba(0,0,0,.02);
	}
}	
