body {
border:0;
width:100%;
font-family:"Axure Handwriting";
font-size:13px;
margin:0;
padding:0;
background:url(../images/homepage/home_bg.png) left top repeat-x;
height:100%;
background-color:#f26e27;
}




#container{width:100%;}
#wrapper{width:100%; margin:0 auto; background-image:url(../images/bg_image.jpg); background-position:center top; background-repeat:no-repeat; float:left; height:600px;}
.topads{width:1029px; margin:0 auto; text-align:center;}

.header_bg{width:1044px; margin:0 auto;}

.header{width:1044px; float:left; height:161px;}
.logo{width:142px; height:57px; float:left; z-index:1; position:relative; padding:50px 0px 0px 30px;}
.header_ad{width:728px; height:98px; float:right; padding-top:9px;}
.nav_bg{width:1044px; height:56px; float:left; background-image:url(../images/homepage/navigation/nav_bg.png); background-position:left top;
background-repeat:no-repeat;}

.nav{float:left; height:52px; padding-left:250px;}
.nav ul { list-style:none; margin:0px; padding:0px;}
.nav ul li{ float:left; line-height:52px;}
.nav ul li a{ font-size:18px; font-weight:bold; color:#ffc704; text-decoration:none; padding:0 13px;}
.nav ul li a:hover{ text-decoration:none; color:#fff;}

.musicplayer_bg{width:1044px; float:left; height:52px;  margin-top:-8px; background-image:url(../images/music_player/songslist_bg.png); background-position:30px top; background-repeat:no-repeat; z-index:10; position:relative;}
.microphone{width:66px; height:96px; float:left; margin-left:12px; margin-top:-12px; z-index:12; position:relative;}
.musicplayer_ar{width:940px; float:left; height:27px; margin-top:12px; padding-top:10px;}
.musicplayer_ar .playicons{ width:66px; float:left; margin-top:-3px;}
.musicplayer_ar .streaming{ width:215px; float:left; font-size:12px; padding-top:2px; font-weight:normal; color:#ffc704;}
.musicplayer_ar .playingbar{ width:189px; float:left; margin-top:-5px;}
.musicplayer_ar .progressbar_box{ width:122px; float:left; padding-left:10px; margin-top:-3px;}

.musicplayer_ar .progress_bar_bg{width:122px; height:8px; float:left;  border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; background-image:url(../images/music_player/song_progress_bar.png); background-position:left top; background-repeat:repeat-x;  margin:8px auto;  }
.musicplayer_ar .progress_bar{width:20%; float:left; height:8px;  border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px; background-color:#ffc704; }
.musicplayer_ar .playlist_icon{ width:65px; float:left; text-align:center; margin-top:-3px;}
.musicplayer_ar .playing_choice{ width:270px; float:left; margin-top:-9px;}
.musicplayer_ar .playing_choice ul{margin:0px; padding:0px; list-style:none;}
.musicplayer_ar .playing_choice ul li{ float:left; line-height:30px;}
.musicplayer_ar .playing_choice ul li a{ background-color:#3a1d1a; font-size:11px; font-weight:bold; text-decoration:none; padding:6px 13px; margin:0 6px;  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; color:#ffc704; }
.musicplayer_ar .playing_choice ul li a:hover{ background-color:#ffc704; font-size:11px;  font-weight:bold; text-decoration:none; padding:6px 13px;  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; color:#3a1d1a;}

.musicplayer_ar .playing_choice ul li .active{ background-color:#ffc704; font-size:11px;  font-weight:bold; text-decoration:none; padding:6px 13px;  border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; color:#3a1d1a;}


#content_bg{width:1044px; margin:0 auto;}
.hm_content{width:1044px; float:left; margin-top:80px;}
.apnaradio_bg{width:698px; height:324px; float:left; background-image:url(../images/radio_player/radio_player_bg.png); background-position:left top;
background-repeat:no-repeat;}

.radio_box{width:495px; height:260px; margin:35px auto 0 42px; float:left; background-color:#fdd857;  border-radius:15px; -moz-border-radius:15px; -webkit-border-radius:15px;
-webkit-box-shadow: 3px 2px 11px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    3px 2px 11px rgba(50, 50, 50, 0.75);
box-shadow:         3px 2px 11px rgba(50, 50, 50, 0.75);
}

.radio_innerbox{width:470px; height:223px; float:left; margin:13px;}
.radio_net_bg{width:470px; height:112px; float:left; background-image:url(../images/radio_player/radio_net.png); background-position:left top; background-repeat:repeat-x; border-radius:9px; -moz-border-radius:9px; -webkit-border-radius:9px;}

.frequency_bar_bg{width:359px; height:83px; background-color:#eae2d3; border:1px solid #bab6ac; float:left;  margin:15px auto 0px 13px;}
.frequency_program{width:340px; margin-left:10px; float:left; height:82px; overflow:hidden;}
.frequency_timer{width:auto; height:82px; float:left; background-image:url(../images/radio_player/frequency_timer.png); background-position:left 15px;
background-repeat:repeat-x; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; color:#777777; }

.liveradio{width:62px; float:left; margin-top:35px; padding-left:18px;}
.top10songs{ width:75px; float:left;  margin-top:35px;  padding-left:5px;}
.musicondemand{width:90px; float:left;  margin-top:35px;}
.oldisgold{width:75px; float:left; margin-left:10px;  margin-top:35px; padding-left:5px;}


.frequency_arrow{width:14px; float:left; height:82px; z-index:15; position:relative; margin-top:-82px; margin-left:170px;}
.tuning_bttn{width:70px; float:left; height:78px;  padding:5px 0px 0px 10px; margin-top:16px;}

.radio_program_detail{width:465px; height:112px; float:left; margin-top:22px;}
.radio_album{width:95px; height:95px; float:left; background-color:#fff; margin-top:-8px; padding:5px;}
.radio_albumdetails{width:290px; height:105px; float:left; margin-left:20px;}
.radio_album_name{width:290px; float:left; border-bottom:1px solid #e6c54f; padding-bottom:12px; margin-bottom:10px;}


.radio_controls{width:113px; height:268px; float:left;}
.radio_controls .powerbttn_bg{width:60px; height:25px; float:left; padding-left:86px; padding-top:43px;}
.radio_controls .volumebttn_bg{width:112px; height:90px; float:left; padding-left:40px; padding-top:9px;margin-top:100px;}
.radio_controls .volumebttn_bg .volume_bars{width:112px; height:90px; float:left; }
.radio_controls .volumebttn_bg  .volume_bttn{width:43px; height:43px; float:left; z-index:1; position:relative; margin-top:-60px; margin-left:30px; }



.chutney_uncle{width:316px; height:324px; float:left; margin-left:30px; background-image:url(../images/chutney_uncle/chutneyuncle_bg.png); background-position:left top;
background-repeat:no-repeat;}

.heading_chutneyuncle{font-size:16px; font-weight:bold; float:right; color:#fff; padding:12px 24px 0px 0px;}
.chutneyuncle_img{ float:left; text-align:center; width:316px; margin-top:60px;}



.contentpart{width:1012px; float:left; margin-top:30px; margin-left:32px;}
#content_top{width:660px; float:left; margin-right:10px;}

#content_left_top{width:660px; float:left; background-image:url(../images/homepage/content_top.jpg); background-position:left top; background-repeat:no-repeat;}
#content_left_mid{width:625px; float:left;  padding:10px 5px 10px 30px; background-image:url(../images/homepage/content_bg.jpg); background-position:left top; background-repeat:repeat-y; }
#content_left_bot{width:660px; height:29px; float:left; background-image:url(../images/homepage/content_bottom.jpg); background-position:left top; background-repeat:no-repeat;}

.view_more_bttn{width:147px; height:47px; float:right; z-index:16px; position:relative; background-image:url(../images/viewmore_img.png); background-position:left top; background-repeat:no-repeat; margin-top:-31px; margin-right:20px; padding:12px 0px 0px 34px; }

.viewmore{font-size:16px; font-weight:bold; color:#fff;}
.viewmore a{font-size:16px; font-weight:normal; color:#fff; text-decoration:none;}
.viewmore a:hover{ text-decoration:underline;}




.bullets{}
.bullets ul{ margin:0px; padding:0px; list-style:none;}
.bullets ul li{ line-height:30px; }
.bullets ul li a{ font-size:14px; color:#3a1d1a; font-weight:bold; text-decoration:none; background-image:url(../images/icons/bullets_icon.png); background-position:left top; background-repeat:no-repeat; padding-left:25px;}
.bullets ul li a:hover{ text-decoration:underline;}



#content_right{width:323px; float:left; margin-left:15px; margin-bottom:20px; margin-top:5px; }
.content_r_top{width:323px; float:left; height:27px; }
.content_r_mid{width:299px; float:left; background-image:url(../images/homepage/r_bg.png); background-position:left top; background-repeat:repeat-y;  padding:0 8px;}
.content_r_bot{width:323px; float:left; height:39px;}

.header_bgimg{width:247px; height:47px; float:right; z-index:18; position:relative; background-image:url(../images/header_bg.png); background-position:left top; background-repeat:no-repeat; margin-top:-170px; margin-right:10px; padding-top:12px; font-size:16px; color:#fff; font-weight:bold; padding-left:20px;}








/* Footer Links Starts */

#footer{width:100%; background-image:url(../images/homepage/footer.jpg); background-position: center; background-repeat:repeat-x; height:252px;  z-index:1; position:relative; float:left;}
#footer_new{width:999px; margin:0 auto; padding-top:28px;}

.footer_content{width:150px; float:left;}
.footer_content_right{width:300px; float:left;  text-align:right; font-size:11px;}

.footer_links{font-size:12px; font-weight:normal; color:#fd9c21; line-height:20px;}
.footer_links a{font-size:12px; font-weight:normal; color:#fd9c21; text-decoration:none;}
.footer_links a:hover{ text-decoration:underline; color:#fff;}



/* Footer Links Ends */






	
	
	
	
	

img{border:none;}
.bold{font-weight:bold;}
.color_red{color:#d8281c; font-size:11px; font-weight:bold;}

h5{font-size:13px; color:#fd9c21; font-weight:normal; margin:0px auto 8px auto; padding:0px 0px 10px 0px;}
h6{font-size:11px; color:#fd9c21; font-weight:normal; margin:0px auto 8px auto; padding:0px 0px 10px 0px;}


.signupfacebook{width:300px; float:left; padding-left:24px; padding-top:30px; padding-bottom:20px;}

.mcc-signin,.signin-button{
	position:relative;
	display:inline-block;
	text-align:left;
	font-size:14px;
	font-weight:normal;
	color:#fff!important;
	width:225px;
	line-height:35px;
	border:1px solid #cac9c9;
	padding:0!important;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-family:Arial, Helvetica, sans-serif;
	
	
	}
	
	.mcc-signin i,.signin-button i{border-right:1px solid rgba(0,0,0,0.2);display:block;float:left;width:40px;height:35px; }
	
	.mcc-signin>span,.signin-button>span{position:static;border-left:1px solid rgba(255,255,255,0.2);padding:9px 10px}
	
	
	
	.signin-button.facebook{background:#3b5998; text-decoration:none;  font-weight:bold; width:250px; }
	.signin-button.facebook i{background-image:url(../images/homepage/facebook_icon.png); background-position:center 10px; background-repeat:no-repeat; }
	.signin-button.facebook:hover{background:#4c70ba}
	




