/*
*{
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: -moz-none;
-o-user-select: none;
user-select: none;
}
*/

body {
border:0;
width:100%;
background:#fff;
min-width:1000px;
font-family:Arial,sans-serif;
font-size:12px;
color:#333;
margin:0;
padding:0;
}

a {
color:#369;
}

a:hover {
text-decoration:none;
}

h1,h2,h3 {
font-weight:700;
margin:0;
padding:0;
}

p {
margin:.4em 0 .8em;
padding:0;
}

img {
border:0;
margin:10px 0 5px;
}

.login_bg{
background-color:#FCFCFC;
}
#ads img {
display:block;
padding-top:10px;
}

#header {
clear:both;
float:left;
width:100%;
border-bottom:1px solid #ddd;
}

#header p,#header h1,#header h2 {
margin:0;
padding:10px 15px 0;
}

#navigation ul {
clear:left;
float:left;
width:100%;
list-style:none;
margin:15px 0 0;
padding:0;
}

#navigation ul li {
display:inline;
list-style:none;
margin:0;
padding:0;
}

#navigation ul li a {
display:block;
float:left;
text-align:center;
background:#f1f1f1;
color:#333;
text-decoration:none;
position:relative;
left:15px;
line-height:16px;
margin:0 0 0 1px;
padding:7px 13px;
}

#navigation ul li a:hover {
background:#111;
color:#f1f1f1;
}

#navigation ul li a.active,#navigation ul li a.active:hover {
background:#ffc450;
font-weight:700;
}

#navigation ul li a span {
display:block;
}

#topheader {
background-color:#111;
background-image:url(../../images/admin/topheaderbg.png);
background-repeat:repeat;
color:#f1f1f1;
}

#topheader h1 {
display:inline-block;
text-transform:uppercase;
font-weight:700;
margin:0;
padding:13px 15px;
}

#topheader .userinfo {
cursor:pointer;
border:1px solid #ddd;
background-color:#f1f1f1;
background-image:url(../../images/admin/icons/userinfoarrow.png);
background-repeat:no-repeat;
background-position:right;
color:#333;
margin:11px 10px 0px 0px;
padding:3px;
position:relative;
z-index:1;
min-width:150px;
}

#topheader .userinfo img {
vertical-align:middle;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin:0;
padding:0;
}

.submenu
{
background: #fff;
position: absolute;
top: -6px;
left:-6px;
right:-1px;
padding: 47px 0 5px;
border-radius: 6px;
border:1px solid #ddd;
box-shadow: 0 2px 8px #bbb;
z-index:-1;
}
.submenu ul
{
list-style:none;
margin:0px;
padding:0px;
}

.submenu ul li a 
{
display: block;
padding: 10px;
cursor: pointer;
border-top:1px solid #ddd;
text-decoration:none;
}

.submenu ul li a:hover
{
background:#eee;
color:#333;
}

#topheader .left {
display:inline-block;
}

#topheader .right {
float:right;
}

#topheader .userinfo span {
font-size:12px;
padding:0 20px 0 10px;
}

#breadcrumb {
clear:both;
background:#f1f1f1;
border-top:4px solid #ffc450;
text-align:left;
font-size:11px;
margin:0;
padding:6px 15px!important;
}

#colMask {
position:relative;
clear:both;
float:left;
width:100%;
overflow:hidden;
margin-bottom:25px;
min-height:475px;
}

#colLeft {
width:0;
position:absolute;
top:0;
left:0;
}

#colRight {
width:0;
position:absolute;
top:0;
right:0;
}

#colMiddle {
margin-left:0;
margin-right:0;
background:#fff;
}

.content {
margin:15px;
}

.dashboard {
margin-bottom:25px;
float:left;
clear:both;
width:100%;
}

.contentBox {
border:1px solid #ddd;
width:25%;
min-width:250px;
margin-right:25px;
margin-bottom:25px;
float:left;
}

.contentBoxHeading {
background-color:#f1f1f1;
border-bottom:1px solid #ddd;
font-size:13px;
font-weight:700;
padding:10px;
}

.contentBoxNormal {
background-color:#fcfcfc;
border-bottom:1px solid #ddd;
font-size:13px;
padding:10px;
}

.contentBoxLeft {
font-size:12px;
background-color:#fcfcfc;
border-bottom:1px solid #ddd;
margin-right:35px;
padding:10px;
}

.contentBoxRight {
float:right;
width:35px;
font-size:12px;
font-weight:700;
background-color:#f7f7f7;
text-align:center;
border-bottom:1px solid #ddd;
border-left:1px solid #ddd;
padding:10px;
}

.contentBoxLink {
padding:15px 10px;
}

.contentBoxLink a {
text-decoration:none;
margin-right:10px;
}

.contentBox .new {
float:right;
font-weight:400;
background-color:#c5c5c5;
color:#fff;
margin-right:5px;
font-size:12px;
border-radius:50px;
-moz-border-radius:50px;
-webkit-border-radius:50px;
padding:2px 6px;
cursor:pointer;
}

.contentBox .important {
background-color:#de5630;
}

.contentBox .new a {
color:#fff;
display:block;
}

.contentBox .star{
float:right;
display:inline-block;
padding-right:6px;
margin-top:-12px;
}

.contentBox .emp_img{
float:right;
margin:0;
padding:0;
border:1px solid #ddd;
}

.contentBox .emp_code{
font-size:10px;
color:#666;
}

.contentBox .small{
font-size: 12px;	
}

#dataDisplayWrapper {
width:60%;
min-width:640px;
}

.dataTableWrapper {
width:100%;
min-width:980px;
clear:both;
margin-bottom:15px;
float:left;
}

.dataTableWrapper ul {
clear:left;
float:left;
width:100%;
list-style:none;
margin:0;
padding:0;
}

.dataTableWrapper ul li {
display:inline;
list-style:none;
float:left;
font-size:11px;
margin:0;
padding:0;
}

.dataTableWrapper ul li select {
font-size:12px;
background:#fcfcfc;
border:1px solid #ddd;
color:#a2a2a2;
margin:0 10px 0 0;
padding:2px 3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
box-shadow: 0px 1px 2px #ddd;
}

.dataTableWrapper ul li a {
display:block;
text-align:center;
background:#fff;
border:1px solid #ddd;
color:#a2a2a2;
text-decoration:none;
position:relative;
line-height:16px;
margin:0 6px 0 0;
padding:3px 7px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
box-shadow: 0px 1px 2px #ddd;
}

.dataTableWrapper ul li a:hover {
background:#f1f1f1;
color:#666;
}

.dataTableWrapper .selected {
display:block;
text-align:center;
background:#ffc450;
border:1px solid #ffc450;
color:#fff;
font-weight:700;
text-decoration:none;
position:relative;
line-height:16px;
margin:0 6px 0 0;
padding:3px 7px;
cursor:default;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
box-shadow: 0px 1px 2px #ddd;
}

.dataPages ul {
clear:left;
float:left;
width:100%;
list-style:none;
margin:0;
padding:0;
}

.dataPages ul li {
display:inline-block;
list-style:none;
float:left;
text-align:center;
background:#fff;
border:1px solid #ddd;
color:#a2a2a2;
text-decoration:none;
position:relative;
line-height:16px;
margin:0 6px 0 0;
padding:3px 7px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
box-shadow: 0px 1px 2px #ddd;
cursor:pointer;
}

.dataPages ul li:hover {
background:#f1f1f1;
color:#666;
}

.dataPages .selected {
display:block;
text-align:center;
background:#ffc450;
border:1px solid #ffc450;
color:#fff;
font-weight:700;
text-decoration:none;
position:relative;
line-height:16px;
margin:0 6px 0 0;
padding:3px 7px;
cursor:default;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
box-shadow: 0px 1px 2px #ddd;
}

.dataPages .selected:hover {
background:#ffc450;
border:1px solid #ffc450;
color:#fff;
}

.dataFilter {
width:100%;
float:left;
clear:both;
background-color:#f1f1f1;
border-top:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
}

.dataActionLeft {
padding:6px;
display:inline-block;
}

.dataActionRight {
float:right;
padding:6px 0 6px 6px;
}

.dataTable table {
width:100%;
border-collapse:collapse;
}

.dataTable table th {
text-align:left;
border-color:#ddd;
padding:10px 6px;
}

.dataTable table td {
border-color:#ddd;
padding:6px;
vertical-align:top;
}

.displayTable table {
width:100%;
border-collapse:collapse;
}

.displayTable table th {
text-align:left;
border-color:#ddd;
padding:10px 6px;
}

.displayTable table td {
border-color:#ddd;
padding:6px 10px;
line-height:21px;
}
.dataForm table {
width:100%;
border:none;
}

.dataForm table th {
text-align:left;
padding:10px 6px;
}

.dataForm table td {
padding:8px;
}

.dataForm label {
text-align:right;
float:left;
width:100%;
vertical-align:middle;
}

.vtop {
vertical-align:top;
}

.formHeader {
width:100%;
color:#666;
background-color:#f1f1f1;
border-top:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;

}

.formHeader .title{
padding:10px;
font-size:15px;
font-weight:700;
margin:0px;
}

.evenrowcolor {
background-color:#fcfcfc;
}

.colorCol{
background-color:#fcfcfc;
}

.whiteCol{
background-color:#fff;
}

.zero {
width:0;
}

.actions {
width:0px;
}

.temp {
width:23.05%;
}

.formRight {
width:80%;
}

.dataPaging {
width:100%;
float:left;
clear:both;
background-color:#f1f1f1;
border-bottom:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;
}

.dataRecords {
padding:6px;
display:inline-block;
}

.dataButton{
padding:13px 6px;
display:inline-block;	
}

.dataPages {
float:right;
padding:6px 0 6px 6px;
}

.num-records{
line-height: 24px;
}

.btn-group {
display:inline-block;
border:1px solid #ddd;
white-space:nowrap;
}

.btn-group img {
margin:0;
padding:0;
}

.btn-group a {
float:left;
border-left:1px solid #ddd;
text-decoration:none;
background-color:#f6f6f6;
padding:3px;
}

.btn-group a:first-child {
border-left:0;
}

/*
 *	Form
 */

form fieldset {
border:1px solid #ddd;
float:left;
border-left:none;
border-right:none;
border-bottom:none;
width:100%;
margin-bottom:15px;
padding:0;
}

form legend {
text-align:left;
color:#888;
font-size:14px;
padding:0;
margin-bottom:10px;
}

form .loginLbl{
display:block;
font-weight:700;
line-height:28px;	
}

form input,form textarea,form select {
-moz-box-shadow:none;
-webkit-box-shadow:none;
box-shadow:none;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

form input[type=text],form input[type=password] {
border:1px solid #ddd;
width:25%;
background:#fcfcfc;
vertical-align:middle;
color:#333;
padding:7px 5px;
}

form textarea {
border:1px solid #ddd;
width:85%;
background:#fcfcfc;
font-family:Arial,sans-serif;
font-size:12px;
color:#333;
padding:6px 5px;
overflow:auto;
}

form input[type=radio],input[type=checkbox] {
width:auto;
vertical-align:middle;
color:#333;
margin:0px 5px 0px 2px;
}

form select {
border:1px solid #ddd;
min-width:20%;
background:#fcfcfc;
color:#333;
padding:6px 5px;
}

form input.smallinput,form textarea.smallinput {
min-width:35%;
max-width:35%;
}

form input.mediuminput,form textarea.mediuminput {
min-width:50%;
max-width:50%;
}

form input.longinput,form textarea.longinput {
min-width:70%;
max-width:70%;
}

form input:focus,form textarea:focus,form select:focus {
background:#fff;
}

form ::-webkit-input-placeholder {
color:#CCC;
}
form input:-moz-placeholder {
color:#CCC;
}

form input[type=submit], .buttonY {
background:#ffd27d;
background:-moz-linear-gradient(top,#ffd27d 0%,#ffb938 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffd27d),color-stop(100%,#ffb938));
background:-webkit-linear-gradient(top,#ffd27d 0%,#ffb938 100%);
background:-o-linear-gradient(top,#ffd27d 0%,#ffb938 100%);
background:-ms-linear-gradient(top,#ffd27d 0%,#ffb938 100%);
background:linear-gradient(top,#ffd27d 0%,#ffb938 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd27d',endColorstr='#ffb938',GradientType=0);
color:#6c480a;
border:1px solid #cd861a;
}

form input[type=reset], .buttonG {
background:-moz-linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#f3f3f3));
background:-webkit-linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
background:-o-linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
background:-ms-linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
background:linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#f3f3f3',GradientType=0);
color:#666;
border:1px solid #ddd;
background:#f1f1f1;
}


form input[type=button], .buttonB {
background:#25A6E1;
background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
color:#fff;
border:1px solid #1A87B9
}

form input[type=button],form input[type=submit],form input[type=reset], .buttonY, .buttonB, .buttonG{
border-radius:2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
padding:5px 9px;
cursor:pointer;
}

form input[type=button]:hover,a.buttonB:hover {
background:#1A87B9;
}

form input[type=reset]:hover,a.buttonG:hover {
background:#ddd;
color:#333;
}

form input[type=submit]:hover,a.buttonY:hover {
background:#ffb938;
border:1px solid #ffb938;
}

a.buttonB, a.buttonG, a.buttonY{
text-decoration:none;
padding:7px 9px;
}

.originalTextareaInfo {
margin-top:5px;
text-align:right;
}

.warningTextareaInfo {
color:red;
text-align:right;
}

#footer {
clear:both;
float:left;
width:100%;
border-top:1px solid #ddd;
font-size:11px;
}

#footer p {
margin:0;
padding:10px;
}

.dataTable,.dataForm, .displayTable {
width:100%;
float:left;
clear:both;
border:1px solid #ddd;
color:#333;
}

.oddrowcolor,.btn-group a:hover {
background-color:#fff;
}

.formLeft,form input.mininput,form textarea.mininput {
width:20%;
}

#loading {background-image:url(../../images/admin/ajax-loader.gif); background-repeat:none;margin:10px;width:43px; height:11px; float:right;display:none;}
#message {display:none;}

/*
 *	Messages
 */

.msgError,.msgSuccess,.msgInfo,.msgWarning {
margin-bottom:20px;
background-repeat:no-repeat;
background-position:10px 10px;
border-style:solid;
border-width:1px;
padding:10px 8px 10px 35px;
}

.msgError {
background-image:url(../../images/admin/icons/msg_error.png);
background-color:#f8e8e8;
border-color:#DF7D7D;
}

.msgSuccess {
background-image:url(../../images/admin/icons/msg_success.png);
background-color:#e8f7e7;
border-color:#82CE76;
}

.msgInfo {
background-image:url(../../images/admin/icons/msg_info.png);
background-color:#dbf1f1;
border-color:#6B99C7;
}

.msgWarning {
background-image:url(../../images/admin/icons/msg_warning.png);
background-color:#f3ecdb;
border-color:#E4964D;
}


/*Login & Registration*/

#login-box,#reg-box {
border:1px solid #ccc;
background-color:#fff;
text-align:left;
width:450px;
margin:50px auto 0;
padding:20px;
}

#login-box h1,#reg-box h1 {
font-size:16px;
font-weight:400;
margin:0 0 25px;
}

#login-box h1 span,#reg-box h1 span {
float:right;
color:#999;
}

.dynamicData{
background:#333;	
color:#f1f1f1;
display:none;
position:absolute;
width:30%;
height:auto;
min-width:250px;
min-height:30px;
padding:15px;
z-index:999;
float:right;
margin-top:-6px;
}

/* Error */

.error{
	width:400px;
	margin:50px auto;
}

.delete, .openEmployee{
	cursor:pointer;	
}
.extData a{
	font-size:11px;
}
.empCode{
	font-size:11px;
	color:#777;	
}

.dataTableWrapper .tabs ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:0;
	padding:0;
}

.dataTableWrapper .tabs ul li {
	display:inline-block;
	list-style:none;
	float:left;
}

.dataTableWrapper .tabs a {
	left:20px;
	font-size:12px;
	display:block;
	text-align:center;
	background:#f1f1f1;
	border:1px solid #ddd;
	border-bottom:none;
	color:#a2a2a2;
	text-decoration:none;
	position:relative;
	line-height:16px;
	padding:6px 10px;
	margin:20px 0px 0px;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	box-shadow: none;
}

.dataTableWrapper .tabs a.active {
	border-bottom:1px solid #fff;
	margin-bottom:-1px;
	background:#fff;
	color:#000;
}

.dataTableWrapper .tabs a.closeEmployee img {
	margin:0px;
	padding:0px;
}

.page-wrap
{	
	float: left;
	width: 65%;
	padding: 15px;
	margin: 0 1.5% 1.5%;
	display: inline;
	border:1px solid #ddd;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
}

.aside
{
	float: left;
	width: 25%;
	min-width:200px;
	margin: 0 1.5% 1.5% 0;
	display: inline;
}

.userActionCol{
	padding: 15px;	
	background-color:#f7f7f7;
	border:1px solid #f1f1f1;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}

.userActionCol a{
	font-size:11px;
	text-decoration:none;	
}

.userActionCol img{
	margin:-1px 7px 0px 0px;
	float:left;
}

.page-wrap .userImgCol{
	float:left;
	width:350px;
	text-align:center;
	padding:0px;
}

.page-wrap .userInfoCol{
	float:left;
	padding:0px 20px;
	margin:0px 0px 15px 0px;
}

.page-wrap .otherInfoCol{
	clear:left;
	width:100%;
	padding:15px 0px;
	border-top:5px solid #f7f7f7;
}

.page-wrap .otherInfoCol table{
	font-size:12px;
}

.page-wrap .otherInfoCol table td:first-child{
	width:25%;
	text-align:right;
	font-weight:bold;
}

.page-wrap .otherInfoCol table td:last-child{
	width:75%;
}

.h3Light{
	color:#5d5d5d;
	margin-bottom:10px;
}

.page-wrap h1{
	font-size:20px;
	font-weight:bold;
	padding:0px;
	margin:5px 0px 0px 0px;
	line-height:30px;
}

.page-wrap h2{
	font-size:16px;
	color:#aaa;
	font-weight:normal;
	padding:0px;
	margin:0px;
	line-height:22px;
}

.page-wrap h3{
	font-size:14px;
	font-weight:normal;
	padding:0px;
	margin:0px;
	line-height:22px;
}

.page-wrap h4{
	font-size:12px;
	font-weight:normal;
	padding:0px;
	margin:0px;
	line-height:18px;
}

.page-wrap table {
width:100%;
border-collapse:collapse;
border: 1px solid #ddd;
}

.page-wrap .page-heading{
background-color:#f7f7f7;	
}

.page-wrap table th {
text-align:left;
border-color:#ddd;
padding:10px 6px;
background-color:#f7f7f7;
}

.page-wrap table td {
border-color:#ddd;
padding:10px 6px;
}

.boldCol{
font-weight:bold;
}

.ui-datepicker {
font-size:13px;
border:none;
}

form input.calendar-icon{
background-image:url(../../images/admin/icons/calendar_icon.png);
background-repeat:no-repeat;
background-position:97% 6px;
}

.slimScrollDiv { border: none; margin:0px; }

.ui-draggable{
cursor:pointer;
}

.log-date{
color:#666;
border:1px solid #ddd;
background:#f1f1f1;
font-size:11px;
padding:0px 5px;
border-radius:20px;
-moz-border-radius:20px;
-webkit-border-radius:20px;
line-height:28px;
}

.btnok{
	color:#906;
}










/* ===================================================================== Dashboard Starts  ============================================================================== */





#content {
	padding: 1.25em;
	padding-bottom: 0.5em;
	position: relative;
}



#column_left{
	width: 49.1%;
	float: left;
	padding-top: 5px;
}

#column_right{
	width: 49.1%;
	float: right;
	padding:0;
}

#column_right .table_info {
	width:48.1%;
	float:left;
}

#column_right #table_info_last.table_info {
	width:48.1%;
	float:right;
}


.F_list{
	list-style: none;
	padding: 0;
	margin: 0;
}


#first_block a, #second_block a, #third_block a, #fourth_block a,
#fifth_block a, #sixth_block a, #seventh_block a, #eighth_block a{ background: #F8F8F8 none no-repeat scroll center 25px;
text-decoration:none;
}

#first_block a{
	background-image:url(../../images/admin/icons/attach.png);
	
}

#second_block a{
	background-image: url('../img/admin/cart_add.png');
}

#third_block a {
	background-image: url('../img/admin/book.png');
}

#fourth_block a{
	background-image: url('../img/admin/package_add.png');
}

#fifth_block a{
	background-image: url('../img/admin/plugin_add.png');
}

#sixth_block a{
	background-image: url('../img/admin/cart_remove.png');
}

#seventh_block a {
	background-image: url('../img/admin/page_white_add.png');
}

#eighth_block a{
	background-image: url('../img/admin/abandonedcart.png');
}

.F_list li{
	float: left;
	margin-right:15px;
	margin-bottom:15px;
	display: block;
}

.F_list li h4{
	width: 95px;
	font-size: 11px;
	font-weight:normal;
	margin-top: 55px;
	margin-bottom: 0;
	line-height: 15px;
}

.F_list a{
	float:left;
	color: #333;
	width: 95px;
	border: 1px solid #ccc;
	padding: 5px;
	height: 95px;
	text-align:center;
	border-radius:3px;
}

.F_list a:hover{
	border:1px solid #666;
}

.F_list li p{
	font-size: 8pt;
	display:none;
}

.table_info{
	float: left;
	padding:0;
	margin:0;
	border: 1px solid #ccc;
	border-radius:3px;
	background-color:#fff;
}






.table_info_details tr td{
	font-size:12px;
	padding:6px;
	border-color:#ddd;
	font-weight:normal;
	text-align:left;
}

.table_info_details tr th{
	font-size:12px;
	padding: 10px 6px;
	text-align:left;
	border-color:#ddd;
	font-weight:bold;
	background-color:#f1f1f1;
}

#table_info_large{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	float: left;
	padding: 0;
	border: 1px solid #ccc;
	border-radius:3px;
	background-color:#fff;
}

#table_info_large h5{
	background-color:#f1f1f1;
	color: #000;
	margin: 0;
	line-height: 29px;
	padding-left: 15px;
	font-size: 12pt;
	font-weight: normal;
	display:block;
}

#table_info_large h5 a{
	color: #000;
	float: right;
	font-size: 8pt;
	text-decoration: underline;
	font-weight: normal;
	padding-right: 8px;
}


.view_more_right{font-size:11px; color:#333; text-align:right; float:right; font-weight:normal;}
.view_more_right a{font-size:11px; color:#333;  font-weight:normal; text-align:right; text-decoration:underline;}
.view_more_right a:hover{ text-decoration:none;}




/* ===================================================================== Dashboard Ends  ============================================================================== */