
.menu { padding: 0; margin:0px auto; clear: both;   }
			.menu li { display: block; }
			.menu li a { background: #3a1d1a; padding:6px 15px; float:left;  border-bottom: none; text-decoration: none; color:#ffc704; font-size:12px; font-weight: bold; margin-right:10px; text-align:center; display: inline-block; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
			.menu li.active a { background: #fff; color:#3a1d1a; font-weight:bold; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; font-size:12px; }
			.content { float: left; clear: both;   border-left: none; border-right: none; border-bottom: none; padding:20px 20px 0px 10px; width: 600px; }