/*
Theme Name: Konsultapp
Theme URI: http://www.detecvision.com/
Description: Konsultapp - WordPress Theme
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-header, custom-menu, editor-style, featured-image-header, featured-images, post-formats, responsive-layout, theme-options, translation-ready
Author: Detecvision
Author URI: http://www.detecvision.com/
License: GNU General Public License version 3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Version: 9.7
All css files are placed in /css/ folder.
If you want to add your own css code, please do it in /css/custom.css
*/

div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10, div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11, p.or, p.missed-call { display: none;} /*  Phone No ( Missed call)*/

.partners-color img, .page #Sliding-top, .med-special .image_links { display: none;}
.home #Sliding-top { display: block;}
.partners-color, .partners { text-align: center;}
.partners-color img, .partners img { cursor: pointer;}

span.date span.label, .phlink, div#slide-11-layer-3 img, img.don-arow { display: none;}
span.date { display: block;}
.blog_wrapper .post-excerpt { padding: 10px 0 5px;}
.wp_teamshowcase_slider .slick-dots { display: none !important;}

.learn-more-btn.rgt.align_right {
    float: right;
    margin-top: -65px; 
}
.learn-more-btn.rgt.align_right span.learn-more-txt{ font-size: 12px;padding: 8.5px 20px 10px;}

.learn-more-btn.rgt.align_right1 {
    float: right;
    margin-top: 10px; 
}
.exp-box{font-size: 13px;}	
  #ProfilePage
    {
        /* Move it off the top of the page, then centre it horizontally */
        //margin: 50px auto;
        width: 635px;

        /* For visibility. Delete me */
        border: 1px solid red;
    }

    #LeftCol
    {
        /* Move it to the left */
        float: left;

        width: 200px;
        text-align: center;

        /* Move it away from the content */
        margin-right: 20px;

        /* For visibility. Delete me */
        border: 1px solid brown;
    }

    #Photo
    {
        /* Width and height of photo container */
        width: 200px;
        height: 200px;

        /* For visibility. Delete me */
        border: 1px solid green;
    }

    #PhotoOptions
    {
        text-align: center;
        width: 200px;

        /* For visibility. Delete me */
        border: 1px solid brown;
    }

    #Info
    {
        width: 400px;
        text-align: center;

        /* Move it to the right */
        float: right;

        /* For visibility. Delete me */
        //border: 1px solid blue;
    }

    #Info strong
    {
        /* Give it a width */
        display: inline-block;
        width: 100px;

        /* For visibility. Delete me */
        //border: 1px solid orange;
    }

    #Info span
    {
        /* Give it a width */
        display: inline-block;
        width: 250px;

        /* For visibility. Delete me */
        //border: 1px solid purple;
    }
	
	
	
	
	/*   POPUP FORM */
	
		
				
		
		.conform{
		border-radius:2px;
		padding:20px 30px;
		box-shadow:0 0 15px;
		font-size:14px;
		font-weight:bold;
		width:350px;
		margin:20px 250px 0 35px;
		float:left;
		}
		input{
		width:100%;
		height:35px;
		margin-top:5px;
		border:1px solid #999;
		border-radius:3px;
		padding:5px;
		}
		input[type=button]{
		background-color:#123456;
		border:1px solid white;
		font-Weight:bold;
		font-size:18px;
		color:white;
		width:49%;
		}
		textarea{
		width:100%;
		height:80px;
		margin-top:5px;
		border-radius:3px;
		padding:5px;
		resize:none;
		}
		#contactdiv{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		display: none;
		z-index:999;
		background: rgba(51, 51, 51, 0.94);
		}
		.inp {
    background: #5a9eb5!important;
    padding: 5px 10px!important;
    width: auto!important;
    float: left!important;
    font-size: 13px!important;
}
.inp:hover{ background:#333!important;}
		#thanksdiv{
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		width: 100%;
		display: none;
		background: rgba(51, 51, 51, 0.94);
		    z-index: 999;
		}
		.img1{float: right;
    font-size: 22px;
	    cursor: pointer;}
		#thanksbox{
		width:33%;
		margin:0px;
		z-index:999;
		background: #fff;
		position: relative;
		border: 5px solid rgb(90, 158, 181);
		left: 50%;
		top: 30%;
		padding:20px;
		margin-left:-210px;
		margin-top:-255px;	
		}
		.thanks-txt{ display:inline-block;}
		
img#cancel {
    float: right;
}
		#contact{
		width:350px;
		margin:0px;
		background-color:white;
		position: relative;
		border: 5px solid rgb(90, 158, 181);
		left: 50%;
		top: 20%;
		margin-left:-210px;
		margin-top:-255px;	
		}
	
	
.learn-more-btn.rgt.align_right1 span.learn-more-txt{ font-size: 12px;padding: 8.5px 20px 10px;}
.exp-box{ padding:5px 10px; background-color:#eeeeee; float:left; width:98%;}
.exp-box .serv{ width:45%; display:inline-block; margin-left:0px;float:left;}
.exp-box .fa-check-circle-o::before{color: #58c9d5;}
.serv1{ float:left;width: 93%;}
.exp-box ul li{ float:left;list-style: disc inside!important;padding: 0 20px 0 0;font-size: 13px;}
.exp-box ul { margin-left:0px!important;}
.tit{ 
    float: left;
    width: 100%;
    padding-left: 11px;
    margin-bottom: 23px; margin-top: 20px;}
.profile_width{ width: 65%; margin: -26px auto;background: #fff; padding: 20px 20px;}
.feed{background-color: #fff!important;
color: black !important;
border: 1px dotted #333;
padding: 5px 7px !important;}
.feed:hover{background-color: #eee !important;}

.show {
 
	padding: 15px 0 0 0;
}
.morectnt span {
display: none;
}
.showmoretxt {
    text-decoration: none;
}
.align-right{ width:100%; text-align: right; float:right;}
.art-box {
    width: 100%;
    border: 1px dotted #eeeeee;
    float: left;
    padding: 6px 0 0 0;
    background: #efefef;
}
.art-box h5 {
    margin-bottom: 0;
}
.art-box h5 a:hover{ color:aqua;}
.round1 {
 float: left;
width: 20px;
height: 20px;
border-radius: 100%;
border: 1px solid #58c9d5;
text-align: center;
padding: 6px;
font-size: 17px;
color: #58c9d5;
margin-right: 10px;
vertical-align: middle;
}
.service-desc{ line-height: 18px;}
.prof-pc {
    height: 122px !important;
}
/*======================================
div#wp_sms_div, div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10, div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11, p.or, p.missed-call { display: none;}

Homepage
=======================================*/
.howit-works { text-align: center; padding: 25px 0 0;}

.why-use-kapp { text-align: center;}
.why-use-kapp .why-kapp { padding: 0 40px;}

a.sliding-top-control { display: none;}
#Top_bar .menu_wrapper { background-color: #fff;}
.page-id-3067 #Top_bar .menu_wrapper { background-color: rgba(255,255,255,0.7);}
.home #Top_bar .menu_wrapper { background-color: transparent;}
.home #Top_bar .menu > li > a { color: #ffffff !important;}
.home #Top_bar .menu > li > a:hover, .home #Top_bar.is-sticky .menu > li > a:hover { color: #24cdd9 !important;}
.home #Top_bar.is-sticky .menu > li > a { color: #000000 !important;}
#Sliding-top.active a.sliding-top-control .minus { color: #000;}
#Header { }
.home #Header  { background: none;}
h1.title { font-size: 16px !important;}
p.form-submit { clear: both;}
.breadcrumbs li { padding: 5px 0;}

.sms-send { color: #fff; padding: 8px 10px 8px 35px !important; background: #24CDDA url(http://test.konsultapp.com/wp-content/uploads/2016/06/tick.png) no-repeat 10px center;}
.page-id-3045 .sms-send { font-size: 15px !important;}

.vitae, .secondline { font-family: "Open Sans" !important;}

/*========= icons gradient =========*/
.why-use-img { width: 118px; height: 118px; border-radius: 50%; margin: 0 auto; position: relative; background: rgb(36,205,217); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(36,205,217,1) 0%, rgba(36,205,217,1) 50%, rgba(29,191,203,1) 50%, rgba(29,191,203,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(36,205,217,1) 0%,rgba(36,205,217,1) 50%,rgba(29,191,203,1) 50%,rgba(29,191,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(36,205,217,1) 0%,rgba(36,205,217,1) 50%,rgba(29,191,203,1) 50%,rgba(29,191,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24cdd9', endColorstr='#1dbfcb',GradientType=1 ); /* IE6-9 */}
.why-use-img:hover { width: 118px; height: 118px; border-radius: 50%; box-shadow: 1px 10px 15px rgba(0,0,0,0.25); margin: 0 auto; position: relative; background: rgb(252,75,117); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(252,75,117,1) 0%, rgba(252,75,117,1) 49%, rgba(252,75,117,1) 49%, rgba(241,57,100,1) 49%, rgba(241,57,100,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(252,75,117,1) 0%,rgba(252,75,117,1) 49%,rgba(252,75,117,1) 49%,rgba(241,57,100,1) 49%,rgba(241,57,100,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(252,75,117,1) 0%,rgba(252,75,117,1) 49%,rgba(252,75,117,1) 49%,rgba(241,57,100,1) 49%,rgba(241,57,100,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc4b75', endColorstr='#f13964',GradientType=1 ); /* IE6-9 */}
.why-use-img img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); margin-right: -50%;}

.kapp-video { padding: 135px 0 90px !important;}
.video-kapp iframe { width: 91%; min-height: 290px; -webkit-box-shadow: 0px 31px 42px -16px rgb(204, 204, 204); -moz-box-shadow: 0px 31px 42px -16px rgb(204, 204, 204); box-shadow: 0px 31px 42px -16px rgb(204, 204, 204);}
.learn-more-btn { margin-top: 45px;}
.view-more-btn { margin-top: 15px; margin-bottom: 50px;}
.learn-more-btn a span { color: #fff; border-radius: 5px;}
.learn-more-btn a .learn-more-txt, .sms-button .learn-more-txt { background: #24cdd9; padding: 8.5px 40px 10px; font-size: 18px;}
span.right-arrow { background-color: #fc4b75; padding: 10px 20px; position: relative; margin-left: 2px;}
span.right-arrow img { position: absolute; top: 50%; left: 50%; margin-right: 50%; transform: translate(-50%, -50%);}
span.eye-ico { padding: 10px 12px; margin-left: -1px;}
.learn-more-btn a:hover { text-decoration: none;}
.learn-more-btn a:hover .learn-more-txt { background-color: #fc4b75;}
.learn-more-btn a:hover span.right-arrow { background-color: #24cdd9;}

/*========================== SMS on homepage =========================== */
.sms-on-phone { padding-bottom: 30px !important;}
h1.ads { padding: 55px 0 0;}
p.fes { padding: 16px 195px 0 0; color: #666;}
.app-links { margin-left: 0 !important; margin-top: 45px !important;}
.footer-app-link { margin-top: 25px !important;}
.app-links li { display: inline-block; padding-right: 10px;}
form#tcSMSform p:first-child { display: none;}
.phone-field { border-bottom: 1px solid #ccc;}
.phone-field input[type="text"] { background: transparent; border: none; box-shadow: none; margin-bottom: 0;}
.sms-button .learn-more-txt { padding: 0; font-size: 13px; font-weight: bold;}
.page-id-3045 .sms-button .learn-more-txt { font-size: 13px !important;}
.sms-button { position: relative;}
.sms-button span.right-arrow { border-radius: 4px; margin: 0 0 0 15px; padding: 8px 10px;}
.page-id-3045 .sms-button span.right-arrow { padding: 16px 8px !important;}
.sms-button button { position: absolute; right: 0; top: -60px; padding: 8px 0 8px  20px;}
.page-id-3045 .sms-button button { top: -50px; padding: 8px 0 8px  20px !important;}
.page-id-3045 .icon-paper-plane { font-size: 15px !important;}

p.or { text-align: center; color: #999;}
p.or, p.missed-call { padding: 30px 0 0; font-size: 24px;}

.are-u-a-doc { padding: 80px 0;}
h1.ayad-txt { padding: 15px 0 0;}
p.ayad-content { width: 80%; margin: 0 auto;}

.our-partner { padding: 130px 0 20px;}
h1.op { padding: 0 0 15px;}

.partners { background: url("http://test.konsultapp.com/wp-content/uploads/2016/05/apollo-logo.png") no-repeat 30px center; height: 268px;}
.partners:hover { background: url("http://test.konsultapp.com/wp-content/uploads/2016/05/apollo-color-logo.png") no-repeat 30px center;}
.nomrgn { margin: 0 1% -20px !important;}

/*====== Sidebar ======*/
.sidebar h3 { color: #333; font-size: 16px; font-weight: 600;}
.filters_buttons a { color: #ff3a71 !important;}

/*======== Footer =======*/
p.download-india { color: #fff !important; font-size: 18px; font-weight: 600; margin: 0; padding: 13px 0 0;}
#widget_mfn_recent_posts-3 h4 { background: url("http://test.konsultapp.com/wp-content/uploads/2016/05/edit-ico.png") no-repeat 0 0; padding: 13px 48px 0;}
.widget h4 { font-size: 24px; font-weight: 600;}
#text-6 h4 { background: url(http://test.konsultapp.com/wp-content/uploads/2016/05/keep-intouch.png) no-repeat 0 0; padding: 10px 42px 0;}
.footer-sico { margin-left: 0px;}
#Footer span.date, .desc .date { font-size: 13px;}
.post-meta .category { display: none;}
p.copyright-txt { font-size: 13px; padding-right: 10px;}

.icon_bar_instagram span.t { background-color: #9d7144; color: #fff;}
.icon_bar_instagram span.b { color: #9d7144; background-color: #fff;}

/*------ Footer Menu -------*/
.foter-menu li { display: inline-block; font-size: 13px;}
.foter-menu li a { color: #999 !important; padding: 0 12px; border-right: 1px solid #999;}
.foter-menu li:first-child a { padding: 0 12px 0 0;}
.foter-menu li:last-child a { border-right: none;}

/*====================================
Blog
====================================*/
h2.entry-title { font-size: 24px; font-weight: 600; margin-bottom: 0;}
.post-excerpt { font-size: 14px;}
.single-post .column.one.single-photo-wrapper { display: none;}

.show-all { position: absolute; top: 0; right: -10px;}
.show-all a { background: none !important; color: #ff3a71 !important; border: none !important;}

/*====================================
Contact
====================================*/
.cntct { margin-bottom: 0;}
h1.lam, p.lam-intro, .our-services, p.service-intro, .ld, .ld-intro, .ph, .ph-intro {text-align: center; margin-bottom: 20px;}
p.lam-intro, p.service-intro { margin-bottom: 30px;}
.contact-form { box-sizing: border-box; background-color: #f9f9f9; border: 1px solid #efefef; float: left; padding: 25px 10px;}
.contact-btn, .pi-btn { background: url(http://test.konsultapp.com/wp-content/uploads/2016/05/send-btn-bg.png) no-repeat 0 0 !important; width: 220px; height: 44px; padding: 0 30px !important; text-align: left; font-size: 18px; font-weight: bold !important; margin-right: 0 !important;}
.pi-btn { background: url(http://test.konsultapp.com/wp-content/uploads/2016/05/pi-bg.png) no-repeat 0 0 !important; width: 180px; padding: 0 36px !important;}
.contact-btn:hover { background: url(http://test.konsultapp.com/wp-content/uploads/2016/05/send-btn-hover-bg.png) no-repeat 0 0 !important;}
.pi-btn:hover { background: url(http://test.konsultapp.com/wp-content/uploads/2016/05/pi-hover-bg.png) no-repeat 0 0 !important;}
.btn-align { text-align: right;}
.btn-align img { display: none;}
.gndr { padding-right: 20px;}

.locate { color: #fc4b75; text-align: left; width: 28px; font-size: 25px; float: left;}
.adres { margin-left: 42px;}
.three-divider { border-right: 1px solid #ddd; box-sizing: border-box; padding: 0 15px 0 0; height: 55px;}

select { background: #fff url(http://test.konsultapp.com/wp-content/uploads/2016/05/select-arrow.png) no-repeat right center;}

.patient-info span.gen { color: #333;}

	/* ==========================================================================
   Doctor Details Right Sidebar
   ========================================================================== */

.doctor-detail { padding: 25px; border: 1px solid #f1f1f1; box-sizing: border-box; margin-bottom: 30px;border-bottom: 2px solid #24cdd9;}
.doctor-detail .learn-more-btn.rgt.align_right1 {
     margin-top: -35px;
}
.doctor-detail:hover { box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3);}
.doc-ful-detail { box-sizing: border-box; border-right: 1px dashed #ccc;}
.doctor-img { float: left; margin-right: 20px;}
.doctor-biography { margin-left: 120px;}
h5.doctor-name { margin: 0 0 0px; font-size: 16px; font-weight: 600; color: #24ccd8;}
p.designation { color: #999; font-weight: 600; margin-bottom: 3px;}
p.doc-experience { color: #999; font-size: 12px; margin-bottom: 7px;}
.rupee { float: left;}
.fee, .doc-practice, .doc-address { margin-left: 30px; padding: 2px 0 0;}
.doc-practice, .doc-address { margin-left: 23px;}
p.prac-txt, p.fee-txt { color: #939393; margin: 0 0 1px; line-height: 14px;}
p.amount, p.prac-place { font-size: 12px;}
p.amount { color: #ff3366;}
p.prac-place { color: #333;}

.col-md-3{ width:25%; float: left;}
.round{ float: left;
width: 20px;
height: 20px;
border-radius: 100%;
border: 1px solid #ccc;
text-align: center;
padding: 5px;
font-size: 20px;
color: #58c9d5;
margin-right: 10px;}
/*====================================
Patient Information
====================================*/
textarea { width: 100% !important;}

.display-msg { clear: both;}
.display-msg p { color: #fff; background-color: #24cdd9; text-align: center; padding: 7px 0; border-radius: 4px;}

/*====================================
Download App
====================================*/
body.page-id-3045, body.page-id-3045 #Header_wrapper { background: #000 url("http://test.konsultapp.com/wp-content/uploads/2016/05/app-bg.jpg") no-repeat top center !important; background-size: cover !important; height: 100%;}
.page-id-3045 #Top_bar .menu_wrapper, .page-id-3087 #Top_bar .menu_wrapper { background: none;}
.page-id-3045 #Top_bar .menu > li > a, .page-id-3087 #Top_bar .menu > li > a { color: #fff !important;}
.page-id-3087 #Top_bar.is-sticky .menu > li > a { color: #666 !important;}
.page-id-3045 #Top_bar .menu > li.current-menu-item > a, .page-id-3045 #Top_bar .menu > li > a:hover, .page-id-3087 #Top_bar .menu > li.current-menu-item > a, .page-id-3087 #Top_bar .menu > li > a:hover { border: 1px solid #fff; border-radius: 4px !important;}
.page-id-3087 #Top_bar.is-sticky .menu > li > a:hover { color: #24ccd8 !important; border: none !important;}
.page-id-3045 footer#Footer { display: none;}
.page-id-3045 #Header, .page-id-3087 #Header { background: none;}
.wallet-content { font-size: 24px !important; line-height: 32px !important;}
.m-app { font-size: 16px !important; line-height: 24px !important;}
.play-app img { width: auto !important; height: 100% !important;}
.sms-or, .sms-or strong { font-size: 22px !important; line-height: 24px !important;}
.page-id-3045 .phone-field input[type="text"] { font-size: 13px !important; color: #fff;}

/* ===================================
International Services
====================================*/
.page-id-3067 #Header { background: none; /*url("http://test.konsultapp.com/wp-content/uploads/2016/05/is.jpg") no-repeat top center; background-size: 100%; height: 468px;*/}
.page-id-3067 #Subheader { display: none;}
h1.our-services, .ld, .ph { margin-top: 75px;}
h4.spsi, h4.saprh { padding: 0 50px;}

.member-content .member-desc, .panel-h .member-content { display: none;}
.wp_teamshowcase_slider.design-1 .member-name { font-size: 20px; color: #000;}

.testimonial-medical { padding: 72px 0 !important;}
.testimonials_slider span.company { color: #fc4b75 !important; font-weight: 700; font-size: 16px;}
h1.testi-heading { padding: 40px 0 20px 25px;}

.accordion h4.title { font-size: 36px; margin-bottom: 40px;}
.accordion .question .title { color: #24cdd9 !important;}
.accordion .question.active .title { color: #d00b0b !important;}
.vas span.learn-more-txt, .vas span.eye-ico { font-size: 13px; font-weight: bold; padding: 8.5px 25px 10px;}
.vas span.eye-ico { font-size: 22px; padding: 1px 6px 4px; position: relative; top: 3px;}

/* ===================================
International Services: Pre Travel
====================================*/
.pr-service { padding: 20px 0 0 !important;}
.service-btn { margin-bottom: 20px;}

/* ===================================
About Us
====================================*/
.wwd, .who-w-r-txt { text-align: center; padding: 100px 0px 60px !important;}
.who-w-r-txt p { padding: 0 50px; margin: 0;}
.what-w-d { background-size: cover !important;}
.wwd { color: #fff;}
.wwd p { position: absolute; left: 0; right: 0;}
p.wwd_head { font-size: 48px; line-height: 68px; bottom: 245px; font-weight: 600;}
.wwd-txt { font-size: 24px; line-height: 35px; font-weight: 300; padding: 0 12%; bottom: 130px;}
.don-arow { position: absolute; bottom: 3%; left: 47%;}
.cfe-d { text-align: left;}
.cfe-d p { padding: 0;}
.cfe-txt { padding-right: 20px !important;}

.suport-doctor { margin: 40px 0 0 !important;}
.suport-doctor li { display: inline-block; width: 32%; box-sizing: border-box;}
.suport-dr-name { text-align: center;}

/* ===================================
Patient FAQ's
====================================*/
ul.faqs { margin: 0 0 15px !important;}
ul.faqs li { display: block; background: url(http://test.konsultapp.com/wp-content/uploads/2016/05/check-ico.png) no-repeat left 4px; padding: 0 0 0 20px; color: #666; margin-bottom: 5px !important;}
.patient-info { border: 1px solid #e5e5e5; float: left; padding: 25px 15px; background-color: #f9f9f9;}

/* ===================================
Medical Specialities
====================================*/
.medical-specialties { color: #666; font-size: 14px;}
.medical-specialties .portfolio-item-fw-wrapper { border: 1px solid #f1f1f1; width: 100%; float: left; padding: 8px 0 0;}
.med-special, .med-recomends { margin-bottom: 0 !important;}
.med-recomends .desc { padding: 0 !important;}
.recommend span i { color: #90b3d0;}
.recomend-hospital li { display: inline-block; padding-right: 10px;}
.med-recomends h3 { color: #333; font-weight: 600;}
.med-special .image_wrapper a { cursor: default;}

.specialities-seemore { text-align: right; position: relative;}
.specialities-seemore a { color: #ff3a71; position: absolute; top: -39px; right: 10px;}

h1.onco { margin-bottom: 30px;}
.oncology li { padding-bottom: 15px !important;}
.sub-cosmetic li { padding-bottom: 0 !important;}

/* ===================================
Carrer
====================================*/
h1.join {
    text-align: center;
    margin-bottom: 35px;
}

/* ===================================
Panel Hospital
====================================*/
.team_list { border: 2px solid #f1f1f1; padding: 20px;}
.panel-hospital-content, .panel-hosptal { color: #666; font-size: 14px; box-sizing: border-box;}
.panel-hospital-content { padding: 0 0 0 30px !important;}
ul.ph-sumary { margin: 15px 0 0px 5px !important; padding: 0 0 15px;}
.ph-sumary li { list-style-type: none !important; background: url(http://test.konsultapp.com/wp-content/uploads/2016/05/check-pink.png) no-repeat left 6px; padding: 0 0 0 18px;}
.panel-hospital-content p { margin-bottom: 5px;}
.panel-hosptal .portfolio-item-fw-wrapper { border: 1px solid #f1f1f1; width: 100%; float: left; padding: 8px 0 0; padding: 8px 15px 0 20px; box-sizing: border-box;}
.panel-hosptal .image_wrapper { padding: 14px 0 0;}
.panel-hosptal .med-recomends h3 { font-weight: 300;}
.panel-hosptal .med-recomends { box-sizing: border-box; padding-left: 15px;}


/*================== SMS Button ================= */
.smslink { position: relative;}
form.applink-mobile input[type=tel] { background: transparent; border-width: 0 0 1px 0; box-shadow: none; width: 100%;}
.page-id-3045 form.applink-mobile input[type=tel] { font-size: 15px !important; border-color: #ccc;}
.linkonphone { position: absolute; padding: 10px 80px 10px 30px; top: -5px; right: -3px;}
.linkonphone span.right-arrow { right: 0; position: absolute; top: 0; padding: 10px 15px; border-radius: 4px;}
.page-id-3045 .learn-more-txt { line-height: 15px !important; font-size: 15px !important;}


/* ===================================
Responsive
====================================*/
@media screen and (max-width: 1239px){
	p.wwd_head { bottom: 320px;}
	.wwd-txt { font-size: 22px; padding: 0 6%; bottom: 230px;}
	.home nav#menu ul li span { color: #666666;}
	.page-id-3045 #Top_bar { top: 0; background: #fff; padding: 20px 0;}
	.page-id-3045 #Top_bar .menu > li > a, .page-id-3087 #Top_bar .menu > li > a { color: #000 !important;}
	input[type="radio"] { margin: 2px 1px;}
	.patient-info span.gen { font-size: 13px;}
	.page-id-3045 form.applink-mobile input[type=tel] { border-width: 0 0 1px 0 !important;}

@media screen and (max-width: 1024px){
	p.wwd_head { bottom: 290px;}
	.wwd-txt { font-size: 20px; padding: 0; bottom: 120px;}
	.section.full-screen { height: auto !important;}
}

@media screen and (max-width: 1023px){
	
	/*===== Homepage Slider =====*/
	div#slide-1-layer-3, div#slide-1-layer-4, div#slide-9-layer-3, div#slide-9-layer-4 { display: none;}
	div#slide-1-layer-2, a#slide-1-layer-6, a#slide-9-layer-6 { position: absolute; }
	div#slide-1-layer-2 { left: -95px; top: 35px;}
	a#slide-1-layer-6 { left: -96px; top: -120px;}
	a#slide-9-layer-6 { top: -150px;}
	
	
	div#slide-2-layer-16, div#slide-2-layer-12, div#slide-2-layer-4, div#slide-2-layer-7, div#slide-2-layer-10, div#slide-2-layer-11, div#slide-7-layer-16, div#slide-8-layer-16, div#slide-17-layer-16, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12, div#slide-7-layer-4, div#slide-8-layer-4, div#slide-17-layer-4, div#slide-17-layer-7, div#slide-8-layer-7, div#slide-7-layer-7, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { position: fixed !important;}	
		
	div#slide-2-layer-16, div#slide-7-layer-16, div#slide-8-layer-16, div#slide-17-layer-16 { top: 130px; left: 15px;}
	div#slide-2-layer-12, div#slide-2-layer-4, div#slide-2-layer-7, div#slide-2-layer-11, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12, div#slide-7-layer-4, div#slide-8-layer-4, div#slide-17-layer-4, div#slide-17-layer-7, div#slide-8-layer-7, div#slide-7-layer-7, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { top: 210px; left: 320px;}
	div#slide-2-layer-4, div#slide-7-layer-4, div#slide-8-layer-4, div#slide-17-layer-4 { top: 330px;}
	div#slide-2-layer-7, div#slide-17-layer-7, div#slide-8-layer-7, div#slide-7-layer-7 { top: 410px;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { top: 480px; left: 525px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { top: 530px;}
	a#slide-2-layer-5, a#slide-2-layer-6, a#slide-7-layer-5, a#slide-7-layer-6, a#slide-8-layer-5, a#slide-8-layer-6, a#slide-17-layer-5, a#slide-17-layer-6 { display: none !important;}


	.page-id-3045 #Top_bar { display: block; z-index: 999999; position: relative;}
	.page-id-3045 #Top_bar .menu > li > a, .page-id-3087 #Top_bar .menu > li > a { color: #000 !important;}

	/* International Services banner*/
	div#slide-10-layer-2 img { width: 760px !important; height: auto !important; margin-top: -40px !important;}
	
}

@media screen and (max-device-width: 959px) {
/*=========== About US ============*/
	div#slide-11-layer-2 { min-width: 700px !important; max-width: 700px !important; padding: 0 40px !important; line-height: 35px !important;}
	div#slide-11-layer-3 { margin: 40px 0 0 !important;}
	.widget h4 { font-size: 18px; background-size: 13% !important;}
	a.icon_bar, a.icon_bar span { width: 37px !important; height: 37px !important; line-height: 37px !important;}
	.footer-sico { margin-left: 30px;}
}

@media screen and (max-device-width: 960px) and (orientation: landscape) {
	div#slide-2-layer-16, div#slide-7-layer-16, div#slide-8-layer-16, div#slide-17-layer-16 { top: 105px; left: 50px;}
	div#slide-2-layer-16 img, div#slide-17-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img { width: 245px !important; height: 100% !important;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { top: 165px; font-size: 21px !important;}
	div#slide-2-layer-4, div#slide-7-layer-4, div#slide-8-layer-4, div#slide-17-layer-4 { display: none;}
	div#slide-2-layer-7, div#slide-17-layer-7, div#slide-8-layer-7, div#slide-7-layer-7 { top: 300px;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { top: 375px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { top: 435px;}
}

@media screen and (max-width: 899px){
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12  { font-size: 20px !important;}
	div#slide-2-layer-11, div#slide-2-layer-11 strong { font-size: 18px !important;} 
	div#slide-2-layer-4, div#slide-7-layer-4, div#slide-8-layer-4, div#slide-17-layer-4 { display: none;}
}

@media screen and (max-width: 780px){
.page-id-3067 .tp-parallax-wrap { left: 40px !important;}
div#slide-10-layer-2 img { width: 700px !important;}

	div#slide-2-layer-16, div#slide-17-layer-16, div#slide-7-layer-16, div#slide-8-layer-16 { top: 200px;}
	div#slide-2-layer-16 img, div#slide-17-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img { width: 230px !important; height: 100% !important;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { display: none;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { min-width: 400px !important; top: 245px; left: 265px; line-height: 25px !important; font-size: 17px !important;} 
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { top: 360px; left: 265px; min-width: 400px !important;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 {top: 425px; left: 445px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { top: 470px; left: 265px;}	
	
	/*===== Homepage Banner======*/
	div#slide-1-layer-2 { left: -195px;}
	a#slide-1-layer-6 { left: -194px; top: -155px;}
	p.inter-sevices { font-size: 33px !important;}
	a#slide-9-layer-6 { top: -185px;}
	
	/*========= About US =========*/
	div#slide-11-layer-1 { margin: -74px 0 0 !important;}
	div#slide-11-layer-2 { min-width: 600px !important; max-width: 600px !important; padding: 0 !important; line-height: 25px !important; margin: -40px 0 0 !important;}
	div#slide-11-layer-3 { margin: 0px 0 0 !important;}
	.wwd-txt { font-size: 16px; line-height: 27px;}
}

@media screen and (max-device-width: 780px) and (orientation: landscape) {
	
	div#slide-2-layer-16, div#slide-17-layer-16, div#slide-7-layer-16, div#slide-8-layer-16 { top: 100px; left: 100px;}
	div#slide-2-layer-16 img, div#slide-17-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img { width: 150px !important; height: 100% !important;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { min-width: 400px !important; top: 135px; line-height: 25px !important; font-size: 17px !important;} 
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12, div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { left: 300px;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { top: 150px; left: 305px; min-width: 400px !important;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 {top: 215px; left: 460px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { top: 260px; min-width: 325px !important;}
	.page-id-3045 .linkonphone { padding: 7px 45px 7px 30px !important;}	
	.page-id-3045 .linkonphone span.right-arrow { padding: 7px 6px !important;}
}

@media screen and (min-width: 768px) and (max-width: 1239px)  {
.patient-info .one-fourth.column { width: 48%;}
.contact-form .one-third.column { width: 48%;}
.contact-form .one-fourth.column { width: 48%;}
}


@media screen and (max-width: 767px){

/*------------Patient Information and  Doctor Registration----------*/
.with_aside .sidebar.columns { display: none;}
/*---------*/	
	h1, .med-recomends h3 { font-size: 19px !important;}
	.why-use-kapp h4, h1, h4.pts, h4.spsi, h4.saprh { font-weight: bold !important;}
	.med-recomends h3 { padding-left: 4px;}
	h4.pts, h4.spsi, h4.saprh { font-size: 18px !important;}
	.page-id-3045 #Top_bar { padding: 0;}
	header#Header { min-height: 0 !important;}
	.why-use-kapp .why-kapp { padding: 0 5px;}
	.pre-travel-img { float: none; padding: 0 0 10px; text-align: center;}
	p.fes { padding-right: 0;}
	p.ayad-content { width: auto; padding: 0 5px; text-align: left;}
	h4.spsi, h4.saprh { padding: 0 5px;}
	p.wwd_head { bottom: 270px; font-size: 40px;}
	.wwd-txt { font-size: 18px; padding: 0; bottom: 120px;}
	.don-arow { left: 43%;}
	.who-w-r-txt p { padding: 0;}
	.cfe-txt { padding-right: 0 !important;}
	.suport-doctor li { display: block; width: auto; text-align: center;}
	.ton { left: -174px; }
	p.inter-sevices { font-size: 35px;}
	p.inter-sevices .app-sliter-r { position: absolute; right:150px !important}
	.kapp-text-btn { bottom: 100px;}
	.l-more-btn-r { bottom: 110px; left: -108px;}
	.app-sliter-r { position: absolute; right: 97px !important;}
	.fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto;
		-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; bottom: 40px;}
	.home .full-screen { display: block;}
	.home .linkonphone { position: relative;}
	.sidebar.sidebar-1.four.columns { padding: 20px 0 0;}
	h1.title { font-size: 13px !important;}
	.specialities-seemore a { position: relative; top: 0; right: 0;}
	h1.onco{ font-weight: bold;}
	h1.cfe, h1.cfd{ font-weight: bold;}
        h1.our_belief { font-weight: bold; text-align: left !important;}
	
	/*======= Footer ========*/
	.widget h4 { font-size: 18px; background-size: 9% !important; padding: 13px 40px 0 !important;}
	a.icon_bar, a.icon_bar span { width: 35px !important; height: 35px !important; line-height: 35px !important;}
	.footer-sico { margin-left: 50px;}
	.footer_copy .column.one { margin: 10px 0 0 !important;}
	p.copyright-txt { font-size: 11px; padding-right: 0; margin: 0 !important;}
	#social-menu a { font-size: 11px !important;}

	
	/*============== Homepage Banner =====================*/
	div#slide-1-layer-2 { left: -174px; top: 25px;}
	a#slide-1-layer-6 { left: -172px; top: -120px;}
	a#slide-9-layer-6 { top: -155px;}
	.video-kapp iframe { min-height: 0; width: 99%;}
	p { font-size: 14px;}

	/*================ International Services ======================*/
	div#slide-10-layer-2 img { width: 550px !important;}
	.page-id-3067 .tp-parallax-wrap { left: 15% !important;}
	.testimonials_slider.single-photo .testimonials_slider_ul li .single-photo-img { padding: 0 !important;}
	.service-btn span.learn-more-txt { padding: 8.5px 15px;}
	
	/* ====== Registration form ====== */
	.patient-info { float: none;}
	.patient-info .one-second.column, .patient-info .four.columns, .patient-info .one-fourth.column { width: 100%;}
	.patient-info .column, .columns { float: none;}
	
	
	/*-------App Download--------*/
	div#slide-2-layer-16 img, div#slide-17-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img { width: 230px !important; height: auto !important;}
	
	.mobile-aap-image1 img { height: auto !important; width: 135px !important;}
	.wall-content { font-size: 13px !important; right: 247px;}
	.page-id-3045 p.phone-field { right: 248px; display: block; bottom: 38px;}
	.page-id-3045 .phone-field { width: 185px;}
	.page-id-3045 .sms-button { right: 400px; top: 17px;}
	.page-id-3045 .sms-button button { padding: 8px 0 8px 20px !important; position: fixed; top: -2px; left: 150px; background: none;} /* fixed */
	.page-id-3045 .sms-or { font-size: 13px !important; top: 1px; left: -243px;}
	.page-id-3045 .sms-or strong { font-size: 13px !important;}
	.page-id-3045 .sms-button .learn-more-txt { display: none; background: transparent;}
	
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { max-height:40px !important; min-height:40px !important; font-size:16px !important; line-height:1.2 !important; min-width: 315px !important; max-width: 315px !important; top: 284px; left: 250px;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { min-width: 335px !important; left: 250px;}
	.page-id-3045 .linkonphone { padding: 7px 40px 7px 8px !important;}
	.page-id-3045 .learn-more-txt { font-size: 12px !important;}
	.page-id-3045 .linkonphone span.right-arrow { padding: 7px 7px !important;}
	.page-id-3045 .phone-field input[type="text"] { padding: 0 0 10px !important; border-bottom: 1px solid #fff !important;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { top: 340px; left: 400px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { left: 250px; top: 385px;}
}

@media screen and (max-device-width: 767px) and (orientation: landscape) {
	
	div#slide-2-layer-16, div#slide-7-layer-16, div#slide-8-layer-16, div#slide-17-layer-16 { left: 115px; top: 70px;}
	div#slide-2-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img, div#slide-17-layer-16 img { width: 130px !important;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12, div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10,div#slide-17-layer-10 { left: 425px; top: -30px;}
	.page-id-3045 .sms-button button { top: -2px; left: 150px;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { top: 120px; left: 265px; min-width: 350px !important;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { top: 175px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { top: 220px; left: 300px}
	.widget h4 {  background-size: 9% !important; }
	
	/* ========= About US============*/
	p.wwd_head { bottom: 300px;}
}
@media screen and (max-width: 600px){
div#slide-10-layer-2 img { width: 500px !important;}
.page-id-3067 .tp-parallax-wrap { left: 8% !important;}
}
@media screen and (max-width: 599px){
	p.wwd_head { bottom: 200px; font-size: 35px;}
	.wwd-txt { font-size: 16px; padding: 0; bottom: 100px;}
	.wp-tsas-medium-3 { width: 100%;}
	.fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit;text-rendering: auto;
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; position: relative; bottom: 0px;}

	/*-------App Download--------*/
	.wall-content { right: 209px; min-width: 320px !important; max-width: 320px !important; line-height: 21px !important;}
	.page-id-3045 p.phone-field{ right: 160px;bottom: 108px;}
	.page-id-3045 .sms-button { right: 314px; top: -52px; line-height: 11px !important; font-size: 9px !important;}
	.sms-or { font-size: 13px !important; left: -202px;  top: -60px;}
}

@media screen and (max-width: 479px){
	.i_national { position: absolute; bottom: 27px;}
	.app-sliter-r { position: absolute; right: 257px !important;}
	a#slide-1-layer-6 img { width: 150px !important; height: 30px !important; position: absolute; left: 57px; top: 33px;}
	a#slide-9-layer-6 img { width: 150px !important; height: 30px !important;position: absolute; bottom: 39px;}
	.app-sliter-r { position: absolute; left: -340px; bottom: 53px; }
	.l-more-btn-r { position: absolute; left: -400px; bottom: 232px;}
	p.inter-sevices { font-size: 20px !important ; }
	h1, .why-use-kapp h4, h1, h4.pts, h4.spsi, h4.saprh { font-size: 17px !important;}
	.app-links { margin-top: 5px !important;}
	.app-links li { display: block; padding-right: 0; text-align: center;}
	/*.sms-button button { position: relative; top: 0; text-align: center;}*/
	p.or, p.missed-call { font-size: 16px; padding: 0;}
	p.wwd_head { bottom: 250px; font-size: 30px;}
	.wwd-txt { font-size: 17px; padding: 0; bottom: 70px; line-height: 30px;}
	div#popup-1, div#popup-2, div#popup-3, div#popup-4 { left: 0 !important;}
	header#Header { min-height: 0 !important;}

	/*========= Footer =============*/
	.widget h4 { font-size: 18px; background-size: 13% !important; padding: 13px 40px 0 !important;}

	/*========= Homepage banner ======*/
	div#slide-1-layer-2 { left: -350px; top: 0;}
	a#slide-1-layer-6 { left: -408px; top: -220px;}

	/*--------- International Services -------*/
	div#slide-10-layer-2 img { width: 360px !important;}
	.accordion { padding: 35px 10px !important;}
	.accordion h4.title { font-size: 18px; font-weight: bold;}
	
	/* ------- About Us ----------*/
	div#slide-11-layer-2 { min-width: 360px !important; max-width: 360px !important; padding: 0 40px !important; font-size: 16px !important; margin: -130px 0 0 !important;}
	p.wwd_head { bottom: 385px; font-size: 25px;}
	.wwd-txt { font-size: 16px; bottom: 145px;}
	div#slide-11-layer-3 { margin: 75px 0 0 !important;}
	div#slide-11-layer-1 { margin: -160px 0 0 !important;}
	
	/*---------App download-------*/
	
		
	/* App download SMS Button*/
	.sms-button{ text-align: center;}
		
	.page-id-3045 .linkonphone { padding: 7px 0 7px 0 !important; background-color: transparent; position: fixed;}
	.page-id-3045 .learn-more-txt { display: none;}
	.page-id-3045 .linkonphone span.right-arrow { padding: 20px 10px !important; position: relative;}
	
	/*.wall-content { min-width: 200px !important; max-width: 300px !important; line-height: 21px !important;right: 313px; bottom: 85px;}
	.eymn { position: relative; right: 134px; bottom: 129px;}
	.sms-or { font-size: 13px !important; top: -188px; left: -376px;}*/
	
	
	div#slide-2-layer-16 img, div#slide-17-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img { width: 140px !important;}
	div#slide-2-layer-16, div#slide-17-layer-16, div#slide-7-layer-16, div#slide-8-layer-16 { top: 75px; left: 25px;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { min-width: 300px !important; left: 70px; margin-top: 120px !important; display: block;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { top: 120px; left: 185px; min-width: 210px !important;}
	.page-id-3045 .sms-button button { top: -114px; left: -45px; font-size: 11px !important;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { top: 195px; left: 280px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { left: 185px; top: 245px; min-width: 200px !important;   text-align: center; max-width: 200px !important;}
}

@media screen and (max-width: 390px){
/*	.app-sliter-r { position: absolute; margin-left: 50px !important;}
	a#slide-1-layer-6 img { width: 150px !important; height: 30px !important; position: absolute; left: 95px; top: 69px ;}
	a#slide-9-layer-6 img { width: 150px !important; height: 30px !important; position: absolute; bottom: 20px;}*/
	
	/*======= Hompage banner =======*/
	div#slide-1-layer-2 { left: -325px; top: -15px;}
	a#slide-1-layer-6 { left: -385px; top: -210px;}
	
	/* ===== About Us ========*/
	div#slide-11-layer-2 { min-width: 300px !important; max-width: 300px !important;}
	div#slide-11-layer-3 { margin: 100px 0 0 !important;}
	
	/* ====== International Servies ===========*/
	div#slide-10-layer-2 img { width: 320px !important;}
	.page-id-3067 .tp-parallax-wrap { left: 6% !important;}
	
	/*---------App download-------*/
	div#slide-2-layer-16, div#slide-17-layer-16, div#slide-7-layer-16, div#slide-8-layer-16 { left: 15px;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { left: 150px; min-width: 180px !important; max-width: 180px !important;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { left: 35px;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { left: 250px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { left: 150px; font-size: 16px !important;}
}

@media screen and (max-device-width: 667px) and (orientation: landscape) {
	
	.page-id-3067 .tp-parallax-wrap { left: 7% !important;}
	
	/*======== About Us =========*/
	div#slide-11-layer-2 { min-width: 500px !important; max-width: 500px !important; padding: 0 20px !important;}
	p.wwd_head { bottom: 260px;}
	.wwd-txt { font-size: 15px; bottom: 95px;}
	
	div#slide-2-layer-16, div#slide-7-layer-16, div#slide-8-layer-16, div#slide-17-layer-16 { left: 90px;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { min-width: 375px !important; top: -45px;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7, div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { left: 250px;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { top: 125px;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { top: 175px; left: 335px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { top: 205px;}
	.wall-content { font-size: 13px !important; right: 160px; bottom: 44px;}
	.phone-field { width: 204px; border-bottom: 1px solid #ccc !important;}
	.page-id-3045 p.phone-field { right: 170px; display: block; bottom: 51px;}
	.page-id-3045 .sms-button button { left: 159px; top: -2px;}
	.page-id-3045 .sms-or { font-size: 13px !important; top: 9px;left: -172px;}
}

@media screen and (max-width: 360px){
		
	/*a#slide-9-layer-6 img { width: 150px !important; height: 30px !important;position: absolute; bottom: 10px;}
	.wall-content { min-width: 280px !important; max-width: 300px !important; line-height: 21px !important; right: 412px;
	bottom: -61px;}
	.eymn { bottom: -19px; right: 181px;}
	.sms-or { font-size: 13px !important; top: -78px; left: -410px;}
	*/
	
	/*======== Homepage Banner=======*/
	div#slide-1-layer-2 { left: -305px; top: -15px;}
	a#slide-1-layer-6 { left: -363px;}
	
	
	/*---------App download-------*/
	
	div#slide-2-layer-16, div#slide-17-layer-16, div#slide-7-layer-16, div#slide-8-layer-16 { left: 8px;}

	/* App download SMS Button*/
	
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { left: 235px;}
		
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { left: 36px; top: 0; min-width: 290px !important; margin-top: 350px !important;}	
		
	div#mfn-rev-slider, .forcefullwidth_wrapper_tp_banner { height: 100% !important;}
	#slide-2-layer-16, #slide-7-layer-16, #slide-8-layer-16, #slide-17-layer-16 { display: block; top: 230px; left: 100px;}

	/*.wall-content { min-width: 200px !important; max-width: 300px !important; line-height: 21px !important;right: 313px; bottom: 85px;}
	.eymn { position: relative; right: 134px; bottom: 129px;}
	.sms-or { font-size: 13px !important; top: -188px; left: -376px;}*/
	
}
@media screen and (max-device-width: 640px) and (orientation: landscape) {	

	/*=========== About Us ===============*/
	p.wwd_head { bottom: 225px;}
	.wwd-txt { bottom: 75px;}
	div#slide-11-layer-2 { padding: 0 !important;}
	
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { min-width: 375px !important; top: -45px;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { top: 100px; min-width: 300px !important; left: 235px;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { top: 160px; left: 395px;}
	.wall-content { font-size: 13px !important; right: 160px; bottom: 44px;}
	.page-id-3045 .linkonphone { padding: 7px 40px 7px 10px !important;}
	.page-id-3045 form.applink-mobile input[type=tel] { font-size: 16px !important;}
}

@media screen and (max-width: 320px){
	
	/*======= Homepage Banner ========*/
	div#slide-1-layer-2 { left: -274px; top: -15px;}
	a#slide-1-layer-6 { left: -394px; top: -230px;}
	p.inter-sevices { font-size: 17px !important;}
	
	/*======== International Services ============*/
	.page-id-3067 .tp-parallax-wrap { left: 1% !important;}
	div#slide-10-layer-2 img { width: 310px !important;}
	
	/*========= About Us ===========*/
	div#slide-11-layer-2 { min-width: 285px !important; max-width: 285px !important; padding: 0 15px !important;}
	
	
	.app-sliter-r { left: -275px; bottom: 38px;}
	a#slide-1-layer-6 img { width: 130px !important; height: auto !important; left: 120px; top: 85px;}
	div#slide-2-layer-16 img, div#slide-17-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img { width: 95px !important;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { top: 115px; left: 110px;}
	.page-id-3045 .sms-button button { left: -105px;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { left: 210px; top: 165px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { left: 145px; min-width: 150px !important; max-width: 150px !important; top: 205px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11, div#slide-2-layer-11 strong, div#slide-7-layer-11 strong, div#slide-8-layer-11 strong, div#slide-17-layer-11 strong { font-size: 13px !important;}
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { min-width: 255px !important; margin-top: 300px !important;    font-size: 13px !important;}
	.page-id-3045 .learn-more-txt { display: block; font-size: 0 !important; color: transparent; line-height: 0 !important;}
}
@media screen and (max-width: 568px) and (orientation: landscape) {
	/*========== About Us============*/
	div#slide-11-layer-2 { min-width: 470px !important; max-width: 470px !important;}
	
	div#slide-2-layer-16, div#slide-7-layer-16, div#slide-8-layer-16, div#slide-17-layer-16 { left: 70px;}
	div#slide-2-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img, div#slide-17-layer-16 img { width: 105px !important;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7{ left: 200px; min-width: 280px !important;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { left: 345px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { left: 205px;}
	.page-id-3045 .linkonphone { padding: 7px 0 7px 0 !important; background-color: transparent;}
	.page-id-3045 .learn-more-txt { display: none;}
	.page-id-3045 .linkonphone span.right-arrow { padding: 20px 10px !important; position: relative;}
}
	
	#prof .caroufredsel_wrapper .portfolio_slider_ul li {
    
    list-style-type: none!important;
}
	

@media screen and (max-width: 480px) and (orientation: landscape) {	

	/*=========== About Us ===========*/
	div#slide-11-layer-2 { min-width: 450px !important; max-width: 450px !important; padding: 0 !important;}

	/* ========== International Services ===========*/
	.page-id-3067 .tp-parallax-wrap { left: 2% !important;}
	div#slide-10-layer-2 img { width: 460px !important;}
	
	
	div#slide-2-layer-16, div#slide-7-layer-16, div#slide-8-layer-16, div#slide-17-layer-16 { left: 20px; top: 75px;}
	div#slide-2-layer-16 img, div#slide-7-layer-16 img, div#slide-8-layer-16 img, div#slide-17-layer-16 img { width: 100px !important;}
	
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12, div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7, div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11 { left: 130px;}
	
	div#slide-2-layer-12, div#slide-7-layer-12, div#slide-8-layer-12, div#slide-17-layer-12 { min-width: 320px !important; top: 45px; font-size: 13px !important; line-height: 20px !important;}
	div#slide-2-layer-7, div#slide-7-layer-7, div#slide-8-layer-7, div#slide-17-layer-7 { top: 100px; min-width: 210px !important;}
	div#slide-2-layer-10, div#slide-7-layer-10, div#slide-8-layer-10, div#slide-17-layer-10 { top: 150px; left: 260px;}
	div#slide-2-layer-11, div#slide-7-layer-11, div#slide-8-layer-11, div#slide-17-layer-11, div#slide-2-layer-11 strong, div#slide-7-layer-11 strong, div#slide-8-layer-11 strong, div#slide-17-layer-11 strong { font-size: 13px !important; top: 185px;}
}
	
