body {
border:0;
width:100%;
background:#fff;
min-width:1000px;
font-family:Arial,sans-serif;
font-size:12px;
color:#333;
margin:0;
padding:0;
}

a {
color:#369;
}

a:hover {
text-decoration:none;
}

h1,h2,h3 {
font-weight:700;
margin:15px auto;
padding:0;
text-align:center;
}

p {
margin:.4em 0 .8em;
padding:0;
}

img {
border:0;
margin:10px 0 5px;
}

table {
width:100%;
border-collapse:collapse;
border:1px solid #ddd;
font-size:12px;
color:#333;
}

table th {
text-align:left;
border:1px solid #ddd;
padding:10px 6px;
}

table td {
border:1px solid #ddd;
padding:6px;
vertical-align:top;
}

.dynamicData{
background:#ffc450;	
display:none;
position:absolute;
width:35%;
min-width:250px;
padding:10px;
z-index:999;
}