body {
border:0;
width:100%;
background:#fff;
min-width:1000px;
font-family:Arial,sans-serif;
font-size:12px;
color:#333;
margin:0;
padding:0;
}


#header {
clear:both;
float:left;
width:100%;
border-bottom:1px solid #ddd;
}

#header p,#header h1,#header h2 {
margin:0;
padding:10px 15px 0;
}

#navigation ul {
clear:left;
float:left;
width:100%;
list-style:none;
margin:15px 0 0;
padding:0;
}

#navigation ul li {
display:inline;
list-style:none;
margin:0;
padding:0;
}

#navigation ul li a {
display:block;
float:left;
text-align:center;
background:#f1f1f1;
color:#333;
text-decoration:none;
position:relative;
left:15px;
line-height:16px;
margin:0 0 0 1px;
padding:7px 13px;
}

#navigation ul li a:hover {
background:#111;
color:#f1f1f1;
}

#navigation ul li a.active,#navigation ul li a.active:hover {
background:#8EBC00;
font-weight:700;
}

#navigation ul li a span {
display:block;
}

#topheader {
background-color:#0A99CF;
//background-image:url(../../images/admin/topheaderbg.png);
background-repeat:repeat;
color:#f1f1f1;
}

#topheader h1 {
display:inline-block;
text-transform:uppercase;
font-weight:700;
margin:0;
padding:13px 15px;
}

#topheader .userinfo {
cursor:pointer;
border:1px solid #ddd;
background-color:#f1f1f1;
//background-image:url(../../images/admin/icons/userinfoarrow.png);
background-repeat:no-repeat;
background-position:right;
color:#333;
margin:11px 10px 0px 0px;
padding:3px;
position:relative;
z-index:1;
min-width:150px;
}

#topheader .userinfo img {
vertical-align:middle;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
margin:0;
padding:0;
}

.submenu
{
background: #fff;
position: absolute;
top: -6px;
left:-6px;
right:-1px;
display: none;
padding: 47px 0 5px;
border-radius: 6px;
border:1px solid #ddd;
box-shadow: 0 2px 8px #bbb;
z-index:-1;
font-size: 10px;
}
.submenu ul
{
list-style:none;
margin:0px;
padding:0px;
}

.submenu ul li a 
{
display: block;
padding: 10px;
cursor: pointer;
border-top:1px solid #ddd;
text-decoration:none;
}

.submenu ul li a:hover
{
background:#eee;
color:#333;
}

#topheader .left {
display:inline-block;
}

#topheader .right {
float:right;
}

#topheader .userinfo span {
font-size:12px;
padding:0 20px 0 10px;
}

#breadcrumb {
clear:both;
background:#f1f1f1;
border-top:4px solid #0A99CF;
text-align:left;
font-size:11px;
margin:0;
padding:6px 15px!important;
}

#colMask {
position:relative;
clear:both;
float:left;
width:100%;
overflow:hidden;
margin-bottom:25px;
min-height:475px;
}

#colLeft {
width:0;
position:absolute;
top:0;
left:0;
}

#colRight {
width:0;
position:absolute;
top:0;
right:0;
}

#colMiddle {
margin-left:0;
margin-right:0;
background:#fff;
}

.content {
margin:15px;
}

.dashboard {
margin-bottom:25px;
float:left;
clear:both;
width:100%;
}

.contentBox {
border:1px solid #ddd;
width:25%;
min-width:250px;
margin-right:25px;
margin-bottom:25px;
float:left;
}

.contentBoxHeading {
background-color:#f1f1f1;
border-bottom:1px solid #ddd;
font-size:13px;
font-weight:700;
padding:10px;
}

.contentBoxNormal {
background-color:#fcfcfc;
border-bottom:1px solid #ddd;
font-size:13px;
padding:10px;
}

.contentBoxLeft {
font-size:12px;
background-color:#fcfcfc;
border-bottom:1px solid #ddd;
margin-right:35px;
padding:10px;
}

.contentBoxRight {
float:right;
width:35px;
font-size:12px;
font-weight:700;
background-color:#f7f7f7;
text-align:center;
border-bottom:1px solid #ddd;
border-left:1px solid #ddd;
padding:10px;
}

.contentBoxLink {
padding:15px 10px;
}

.contentBoxLink a {
text-decoration:none;
margin-right:10px;
}

.contentBox .new {
float:right;
font-weight:400;
background-color:#c5c5c5;
color:#fff;
margin-right:5px;
font-size:12px;
border-radius:50px;
-moz-border-radius:50px;
-webkit-border-radius:50px;
padding:2px 6px;
cursor:pointer;
}

.contentBox .important {
background-color:#de5630;
}

.contentBox .new a {
color:#fff;
display:block;
}

.contentBox .star{
float:right;
display:inline-block;
padding-right:6px;
margin-top:-12px;
}

.contentBox .emp_img{
float:right;
margin:0;
padding:0;
border:1px solid #ddd;
}

.contentBox .emp_code{
font-size:10px;
color:#666;
}

.contentBox .small{
font-size: 12px;	
}


.vtop {
vertical-align:top;
}

.formHeader {
width:100%;
color:#666;
background-color:#f1f1f1;
border-top:1px solid #ddd;
border-left:1px solid #ddd;
border-right:1px solid #ddd;

}

.formHeader .title{
padding:10px;
font-size:15px;
font-weight:700;
margin:0px;
}


.k-header{
	background-color : #F1F1F1 !important;
}
.k-button{
	background-color : #F1F1F1 !important;
}