body {
font-size:12px;
font-family:'Helvetica Neue', Arial, sans-serif;
background-color:#f1f1f1;
color:#555;
background-repeat:repeat;
text-align:center;
width:100%;
min-width:960px;
height:100%;
margin:0 auto;
padding:0;
}

a {
color:#0C3;
text-decoration:none;
outline:none;
}

a:hover {
color:#060;
}

a.backlink {
padding:10px;
}

#ajaxld {background-image:url(../images/ajax-loader.gif); background-repeat:none; display:none; margin:10px;}

.button,.button:visited {
background:#F90 url(../images/overlay.png) repeat-x;
display:inline-block;
color:#fff;
text-decoration:none;
cursor:pointer;
font-size:12px;
float:left;
margin-left:10px;
padding:5px 10px 6px;
}

.button:hover {
background-color:#222;
color:#fff;
}

#login-box,#reg-box {
border:1px solid #ccc;
background-color:#fff;
text-align:left;
width:450px;
margin:50px auto 0;
padding:20px;
}

#login-box h1,#reg-box h1 {
font-size:16px;
font-weight:400;
margin:0 0 25px;
}

#login-box h1 span,#reg-box h1 span {
float:right;
color:#999;
}

table.admin {
font-size:10px;
width:100%;
border:1px solid #ccc;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}

table.admin thead tr th {
text-align:left;
}

table.admin thead tr {
background-color:#f1f1f1;
}

table.admin tbody tr.statusblocked {
background-color:#dfdfdf;
}

table.admin tbody tr.statusadmin {
background-color:#7fc0f0;
}

table.admin tbody tr td {
text-align:center;
}

table.admin tbody tr:hover {
background-color:#EFFFF3;
}

form.login {
height:250px;
}

form.register {
height:450px;
}

form.editaccount {
width:400px;
}

.forgotpw {
width:200px;
}

form label {
display:block;
font-weight:700;
margin:10px 0 5px;
}

.login_row {
float:left;
clear:both;
width:100%;
}

input[type=text],input[type=password],select {
border:1px solid #ccc;
width:200px;
height:22px;
padding:2px;
}

input[type=submit], .buttonY {
	background:#ffd27d;
	background:-moz-linear-gradient(top,#ffd27d 0%,#ffb938 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffd27d),color-stop(100%,#ffb938));
	background:-webkit-linear-gradient(top,#ffd27d 0%,#ffb938 100%);
	background:-o-linear-gradient(top,#ffd27d 0%,#ffb938 100%);
	background:-ms-linear-gradient(top,#ffd27d 0%,#ffb938 100%);
	background:linear-gradient(top,#ffd27d 0%,#ffb938 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd27d',endColorstr='#ffb938',GradientType=0);
	padding:6px 11px;
	color:#6c480a;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #cd861a;
}

input[type=button], .buttonG {
	background:#f8f8f8;
	background:-moz-linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#f3f3f3));
	background:-webkit-linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
	background:-o-linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
	background:-ms-linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
	background:linear-gradient(top,#f8f8f8 0%,#f3f3f3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#f3f3f3',GradientType=0);
	padding:6px 11px;
	color:#949494;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #d8d8d8;
}

.buttonB {
	background:#25A6E1;
	background:-moz-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#25A6E1),color-stop(100%,#188BC0));
	background:-webkit-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-o-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:-ms-linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	background:linear-gradient(top,#25A6E1 0%,#188BC0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#25A6E1',endColorstr='#188BC0',GradientType=0);
	padding:6px 11px;
	color:#fff;
	font-size:13px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #1A87B9
}


select {
width:206px;
}

input[type=text]:focus,input[type=password]:focus {
background-color:#FFFFDF;
}

form fieldset {
border:1px solid #ccc;
float:left;
border-left:none;
border-right:none;
border-bottom:none;
width:100%;
margin-bottom:15px;
padding:0;
}

form legend {
text-align:left;
color:#888;
font-size:14px;
padding:0;
}

.msgError,.msgSuccess,.msgInfo,.msgWarning {
margin-bottom:20px;
background-repeat:no-repeat;
background-position:10px 10px;
border-style:solid;
border-width:1px;
padding:10px 8px 10px 6px;
}

.msgError {
background-image:url(../images/icons/msg_error.png);
background-color:#f8e8e8;
border-color:#DF7D7D;
}

.msgSuccess {
background-image:url(../images/icons/msg_success.png);
background-color:#e8f7e7;
border-color:#82CE76;
}

.msgInfo {
background-image:url(../images/icons/msg_info.png);
background-color:#dbf1f1;
border-color:#6B99C7;
}

.msgWarning {
background-image:url(../images/icons/msg_warning.png);
background-color:#f3ecdb;
border-color:#E4964D;
}

.login_row input[type=checkbox],.login_row label {
float:left;
}